{% extends 'rodatraden/index.html' %}

{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block title %}
Profiler
{% endblock %}

{% block menu %}
{% if user.is_staff %}
<a class="btn btn-gone add-item"
  data-id="{% url 'profile-create' %}"
  data-toggle="tooltip" title="Skapa nytt">
  <span class="fa fa-plus"></span>
</a> 
{% endif %}
{% endblock %}

{% block page_title %}Profiler{% endblock %}

{% block content %}

  <p class="lead">Som student på Teknisk Fysik i Umeå har du, utöver möjligheten
  att fritt välja kurser också tillgång till flera fördefinerade profiler
  anpassade för att ge dig en djupare insikt inom de olika områdena. Självklart
  kan du följa någon av dessa profiler och byta ut individuella kurser för att
  hitta det spår som passar just dig bäst.</p>

  {% for profile in profiles_sorted %}
  <hr>
  <div class="row">
    <div class="col-md-2 text-center">
      <img 
      {% if profile.image %}
         src="{{ profile.image.url }}" 
      {% else %} 
         src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='150'%3E%3Crect width='150' height='150' fill='%23D6001E'/%3E%3Ctext x='75' y='75' font-family='sans-serif' font-size='40' fill='white' text-anchor='middle' dominant-baseline='middle'%3E{{ profile.abbreviation }}%3C/text%3E%3C/svg%3E" 
      {% endif %}
           alt="{{ profile.title }}" class="rounded mx-auto d-block img-fluid">
      </img>
    </div>
    <div class="col-ld-1"></div>
    <div class="col-md-9 ml-3">
      <h4><a href="{% url 'profile-detail' profile.slug %}">
          {{ profile.title }}
      </a></h4>
      {% if profile.description %}
      {{ profile.description|safe|truncatewords:"50"|linebreaks }}
      {% else %}
      <p>Denna profil saknar beskrivning.</p>
      {% endif %}
      <a href="{% url 'profile-detail' profile.slug %}">
        <span class="badge badge-rt">
        Läs mer
        </span>
      </a>
    </div>
  </div>
  {% endfor %}

{% endblock %}

