{% extends 'rodatraden/profile/profile_list.html' %}

{% load static %}

{% block title %}{{ profile.title }}{% endblock %}

{% block menu %}
<a class="btn btn-gone" 
  href="{% url 'profile-list' %}"
  data-toggle="tooltip" title="Profiler">
  <span class="fa fa-list"></span>
</a>
{% if user.is_staff %}
<a class="btn btn-gone update-item" 
  data-id="{% url 'profile-update' profile.slug %}"
  data-toggle="tooltip" title="Ändra">
  <span class="fa fa-edit"></span>
</a>
<a class="btn btn-gone delete-item"
  data-id="{% url 'profile-delete' profile.slug %}"
  data-toggle="tooltip" title="Radera">
  <span class="fa fa-trash"></span>
</a> 
{% endif %}
{% endblock %}

{% block page_title %}{{ profile.title }}{% endblock %}

{% block content %}

<div class="row px-3">
  <div class="col-lg-8 p-3 course-main">
    {% if profile.description %}
    {{ profile.description | safe }}
    {% else %}
    Denna profil saknar beskrivning.
    {% endif %}
  </div>
  <div class="col-lg-4 text-center">
    <img 
    {% if profile.image %}
       src="{{ profile.image.url }}" 
    {% else %} 
       src="https://via.placeholder.com/150.png/D6001E/FFFFFF/?text={{ profile.abbreviation }}" 
    {% endif %}
       alt="{{ profile.title }}" class="img-thumbnail mt-5">
    </img>
    </div>
  </div>
</div>
<div class="row px-3">
  
  <div class="col-lg-7 p-3 text-center">
    <div class="row pr-3">
      <div id="block-schedule" class="block-schedule block-schedule--profile">
        <div id="academic-year-container"></div>
      </div>

      <div class="text-left mt-3">
        <p>
          I blockschemat visas profilens Nyckelkurser, dvs de kurser som utgör
          profilens grundstomme. Utöver dessa finns Tillvalskurser som ger
          ytterligare fördjupning inom olika områden.
        </p>
        <p>
          Nyckelkurserna är inte obligatoriska men det rekommenderas starkt att
          ha med dessa som grund i ditt blockschema. Välj sedan för dig
          intressanta kurser från listan Tillvalskurser för att skapa det
          blockschema som passar dig bäst, alla kurser i listan passar bra för
          en Beräkningsfysiker. Det går även bra att välja kurser från en annan
          profil.
        </p>
        <p>
          Var noga med att ditt blockschema uppfyller alla kategorier i din
          examen, dvs att du har valt tillräckligt med profilkurser, allmänna
          ingenjörskurser, projektkurser och hållbarhetskurser.
        </p>
      </div>
    </div>

    
  </div>
  <div class="col-lg-5 p-3">

    <p class="profile-detail-title">Valbara kurser inom profilen</p>
    <ul class="profile-detail-list">
      {% for course in related_courses %}
      <li>
        <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>

        <span>
          {% for track in course.core_belonging.all %}
          {% if track.profile.id == profile_id %}
          <span class="badge badge-success">Kärnkurs</span>
          {% endif %}
          {% endfor %}

          {% for category in course.categories.all %}
          {% if category.title == 'Profilkurs' %}
          <span class="badge badge-secondary">Profilkurs</span>
          {% endif %}
          {% endfor %}
        </span>
      </li>
      {% endfor %}
    </ul>

    <p class="profile-detail-title">Projekt och Teknik för hållbar utveckling</p>
    {# Hardcoded for now, without links. This is a first draft. #}
    <ul class="profile-detail-list">
      <li>
        Utvecklingsarbete i samverkan med näringslivet (Lp1,2,3,4, Sommar)
      </li>
      <li>
        Forsknings- och utvecklingsprojekt inom teknisk fysik (Lp1,2,3,4, Sommar)
      </li>
      <li>
        Hållbar utveckling för ingenjörer (Lp1,2,3,4, Sommar)
      </li>
      <li>
        Hållbar utveckling och strålningsmiljö (Lp1)
      </li>
    </ul>
  </div>
</div>

<div class="profile-detail-schedules">
  <div class="card">
    <h5 class="card-header">Blockschema</h5>
    <div class="card-body">
      <ul class="list-group list-group-flush m-0">
      {% for track in tracks %}
      {% for this_block in track.block_set.all %}
      {% if not this_block.private %}
      <li class="list-group-item">
        <a href="{% url 'block-detail' this_block.user.username this_block.slug %}"
        style="font-weight:bold;">{{ this_block.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_scripts %}

<!-- Data that can be used in scripts -->
{{ blocks|json_script:"blocks-data" }}
<script id='string-data'
        data-courseoccasion-info-url="{% url 'courseoccasion-info' %}"
></script>

<!-- Main script for this page. -->
<script src="{% static 'rodatraden/profile_detail.js' %}"
        type='module'
></script>

{% endblock %}