{% extends 'rodatraden/profile/profile_list.html' %}

{% load static %}

{% block title %}{{ profile.title }}{% endblock %}

{% block menu %}
<a class="btn btn-gone" 
  href="{% url 'profile-list' %}"
  data-toggle="tooltip" title="Profiler">
  <span class="fa fa-list"></span>
</a>
{% if user.is_staff %}
<a class="btn btn-gone update-item" 
  data-id="{% url 'profile-update' profile.slug %}"
  data-toggle="tooltip" title="Ändra">
  <span class="fa fa-edit"></span>
</a>
<a class="btn btn-gone delete-item"
  data-id="{% url 'profile-delete' profile.slug %}"
  data-toggle="tooltip" title="Radera">
  <span class="fa fa-trash"></span>
</a> 
{% endif %}
{% endblock %}

{% block page_title %}{{ profile.title }}{% endblock %}

{% block content %}

<div class="row px-3">
  <div class="col-lg-8 p-3 course-main">
    {% if profile.description %}
    {{ profile.description | safe }}
    {% else %}
    Denna profil saknar beskrivning.
    {% endif %}
  </div>
  <div class="col-lg-4 text-center">
    <img 
    {% if profile.image %}
       src="{{ profile.image.url }}" 
    {% else %} 
       src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='150'%3E%3Crect width='150' height='150' fill='%23D6001E'/%3E%3Ctext x='75' y='75' font-family='sans-serif' font-size='40' fill='white' text-anchor='middle' dominant-baseline='middle'%3E{{ profile.abbreviation }}%3C/text%3E%3C/svg%3E" 
    {% endif %}
       alt="{{ profile.title }}" class="img-thumbnail mt-5">
    </img>
  </div>
</div>
<div class="row px-3">

  <template id="tab-template">
    <li class="profile-tab"><a id="tab"></a></li>
  </template>

  <template id="block-schedule-template">
    {% if profile.block_schedule_view_setting == profile.BlockScheduleViewSetting.base %}
    <div class="block-schedule block-schedule--profile block-schedule--only-base">
    {% elif profile.block_schedule_view_setting == profile.BlockScheduleViewSetting.extended %}
    <div class="block-schedule block-schedule--profile block-schedule--only-elective">
    {% else %}
    <div class="block-schedule block-schedule--profile">
    {% endif %}
      <div id="academic-year-container" class="academic-year-container"></div>
    </div>
  </template>

  {% if profile.is_base_block %}
  <div class="col p-3">
    <ul id="tab-container" class="profile-tab-container"></ul>
    <div id="block-schedule-container" class="profile-block-schedule-container"></div>
  </div>
  {% else %}
  <div class="col-lg-7 p-3">
    <p class="profile-detail-title">Kärnkurser</p>
    <ul id="tab-container" class="profile-tab-container"></ul>
    <div id="block-schedule-container" class="profile-block-schedule-container"></div>

    <div class="text-left mt-3">
      <p>
        I blockschemat visas profilens <em>Kärnkurser</em>, dvs de kurser som
        utgör profilens grundstomme. I listan finns dessutom kurser som ger
        ytterligare fördjupning och breddning inom profilens områden.
        Kärnkurserna är markerade i listan.
      </p>
      <p>
        Kärnkurserna är inte obligatoriska men det rekommenderas starkt att
        ha med dessa som grund i ditt blockschema. Utöver kärnkurserna väljer
        du kurser från listan som är intressanta för dig och ger det
        blockschema som passar dig bäst. Det går även bra att välja kurser
        från en annan profil.
      </p>
      <p>
        <strong>Var noga med att ditt blockschema uppfyller alla kategorier i din
        examen, dvs att du har valt tillräckligt med profilkurser, allmänna
        ingenjörskurser, projektkurser och hållbarhetskurser.</strong>
      </p>
    </div>
  </div>

  <div class="col-lg-5 p-3">
    <p class="profile-detail-title">Valbara kurser inom profilen</p>
    <ul class="profile-detail-list">
      {% for labeled_course in labeled_courses %}
      <li>
        <a href="{{ labeled_course.course.get_absolute_url }}">{{ labeled_course.course.title }}</a>

        <span>
          {% if labeled_course.is_core %}
          <span class="badge badge-success">Kärnkurs</span>
          {% endif %}

          {% if labeled_course.is_profile %}
          <span class="badge badge-secondary">Profilkurs</span>
          {% endif %}
        </span>
      </li>
      {% endfor %}
    </ul>

    <p class="profile-detail-title">Projekt och Teknik för hållbar utveckling</p>
    {# Hardcoded for now, without links. This is a first draft. #}
    <ul class="profile-detail-list">
      <li>
        Utvecklingsarbete i samverkan med näringslivet (Lp1,2,3,4, Sommar)
      </li>
      <li>
        Forsknings- och utvecklingsprojekt inom teknisk fysik (Lp1,2,3,4, Sommar)
      </li>
      <li>
        Hållbar utveckling för ingenjörer (Lp1,2,3,4, Sommar)
      </li>
      <li>
        Hållbar utveckling och strålningsmiljö (Lp1)
      </li>
    </ul>
  </div>
  {% endif %}
</div>

<div class="profile-detail-schedules">
  <div class="card">
    <h5 class="card-header">Blockschema</h5>
    <div class="card-body">
      <ul class="list-group list-group-flush m-0">
      {% for track in tracks %}
      {% for this_block in track.block_set.all %}
      {% if not this_block.private %}
      <li class="list-group-item">
        <a href="{% url 'block-detail' this_block.user.username this_block.slug %}"
        style="font-weight:bold;">{{ this_block.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_scripts %}

<!-- Data that can be used in scripts -->
{{ blocks|json_script:"blocks-data" }}
<script id='string-data'
        data-courseoccasion-info-url="{% url 'courseoccasion-info' %}"
        data-block-schedule-view-setting="{{ profile.block_schedule_view_setting }}"
></script>

<!-- Main script for this page. -->
<script src="{% static 'rodatraden/profile_detail.js' %}"
        type='module'
></script>

{% endblock %}