:root {
  --main-color: #D6001E;
  --main-color-dark: #B30018;
  --block-border-radius: 0.2rem;
  --gray-darker:            lighten(#000, 13.5%); // #222
  --gray-dark:              lighten(#000, 20%);   // #333
  --gray:                   lighten(#000, 40%); // #555
  --gray-light:             #dddddd; // #777
  --gray-lighter:           lighten(#000, 95%); // #eee
}

#hideAll {
   position: fixed;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */

}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
}

.rt-page-title {
  @include media-breakpoint-only(lg) {
    font-size: small;
  }
}

.badge-rt {
  color: white !important;
  background-color: var(--main-color) !important;
}

.badge-rt:hover {
  background-color: var(--main-color-dark) !important;
}

.img-rt {
  width: 150px;
  height: 150px;
}

/* Header navbar */
.primary-nav .dropdown-item {
  font-size: small;
}

@media (min-width: 992px) {
  .primary-nav {
    border-radius: 50rem!important;
  }

  .primary-nav .dropdown-item {
    font-size: 1rem;
  }
}

/* Info bar at detail views */
.course-etc {
  background-color: #ececec;
  border-radius: 0.25rem;
}

.index-info {
  background-color: #ececec;
  border-radius: 0.25rem;
}

.container {
  max-width: 1200px;
}

.main-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

/* Report problem button */
.send-report {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1030; /* Same z-index as using the class ".fixed-bottom" */
}

/* Red buttons */
.btn-rt {
  background-color: #D6001E;
  color: white;
}
.btn-rt:hover {
  background-color: #b30018;
  color: white;
}
/* Remove the background from button */
.btn-gone {
  background-color: transparent;
}

/* Red links */
a:not(.default) {
  color: #D6001E;
}

a:not(.default):hover{
  color: #b30018;
  text-decoration: none;
}

/* List without background */
.list-group-item {
  background-color: transparent;
}

/* Icon colors */
.fa:not(.default) {
  color: #D6001E;
}

.dropdown-item:hover {
  color: white !important;
  background-color: var(--main-color);
}

/* Block stuff */

.block-row{
  margin: 15px 0;
  color: white;
}

.block {
  width: 100%;
  position: relative;
  text-align: center;
  background-color: #DDDDDD;
  z-index: 0;
}

.block-header {width: 100%; overflow: hidden;}
.block-header-lp {
  width: 50%;
  float: left;
  color: white;
  font-size: large;
  border-radius: var(--block-border-radius) var(--block-border-radius) 0 0;
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 1px 1px 0px 1px;
}

.block-subheader-lp {
  width: 25%;
  float: left;
  color: white;
  height: 1.5rem;
  font-size: small;
  padding: 0;
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 0px 1px 0px 1px;
}

.block-footer{width: 100%; overflow: hidden;}
.block-footer-lp{
  width: 25%;
  float:left;
  color: white;
  padding: 3px;
  text-decoration: none;
  border-radius: 0 0 var(--block-border-radius) var(--block-border-radius);
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 1px;
}

.block-footer-lp:hover{
  background-color: var(--main-color) !important;
}

.course-approved{border: 3px solid green;}


.block-item {
  position: absolute;
  border: 2px var(--main-color) solid;
  background-color: var(--main-color-dark);
  font-size: .6vw;
}

.block-item a {
  color: white;
}

.block-remove-button {
  color: white;
  position: absolute;
  right:    0;
  top:   0;
}

.block-remove-button .fa {
  color: white;
}

.course-private {
  background-color: #c3e5c4;
}


.prereq-0 {
  background-color: var(--gray-light);
}

.block-addyear {
  color: white;
  border-radius: var(--block-border-radius);
  cursor: pointer;
  position: absolute;
}
.block-addyear:hover {
  background-color: var(--main-color) !important;
}

.block-text-left {
  width: 70%;
  float: left;
}

.block-text-right {
  width: 29%
}

.block-content {
  padding: 3px;
}

/**
SUM TOTAL
*/

.block-sum {
  width: 17%;
  color: var(--gray-lighter);
  font-size: small;
  padding: 6px;
  overflow: hidden;
  background-color: var(--main-color);
  border-radius: var(--block-border-radius) var(--block-border-radius) var(--block-border-radius) var(--block-border-radius);
}

/** SELECT2 */
.select2-results__option--highlighted {
  background-color: var(--main-color) !important;
}

.select2-results__options {
  font-size:small !important;
}

.select2-selection__rendered {
  font-size:small !important;
}

/* PAGINATION */
.page-link {
  color: var(--main-color) !important;
}

.page-item.active .page-link {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  color: white !important;
}

/* FORM CATEGORY */
.cat-select {
  width: 60%;
}

.cat-ects {
  width: 20%;
}
