:root {
  --main-color-dark: hsl(352, 100%, 35%);
  --main-color: hsl(352, 100%, 42%);
  --main-color-light: hsl(352, 100%, 90%);
  
  --gray-darker:  hsl(0, 0%, 13.5%);
  --gray-dark:    hsl(0, 0%, 20%);
  --gray:         hsl(0, 0%, 40%);
  --gray-light:   hsl(0, 0%, 87%);
  --gray-lighter: hsl(0, 0%, 95%);
}

#hideAll {
   position: fixed;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */

}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
}

.rt-page-title {
  @include media-breakpoint-only(lg) {
    font-size: small;
  }
}

.badge-rt {
  color: white !important;
  background-color: var(--main-color) !important;
}

.badge-rt:hover {
  background-color: var(--main-color-dark) !important;
}

.img-rt {
  width: 150px;
  height: 150px;
}

/* Header navbar */
.primary-nav .dropdown-item {
  font-size: small;
}

@media (min-width: 992px) {
  .primary-nav {
    border-radius: 50rem!important;
  }

  .primary-nav .dropdown-item {
    font-size: 1rem;
  }
}

/* Info bar at detail views */
.course-etc {
  background-color: #ececec;
  border-radius: 0.25rem;
}

.index-info {
  background-color: #ececec;
  border-radius: 0.25rem;
}

.container {
  max-width: 1200px;
}

.main-template {
  padding: 3rem 1.5rem;
  text-align: left;
}

/* Report problem button */
.send-report {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1030; /* Same z-index as using the class ".fixed-bottom" */
}

/* Red buttons */
.btn-rt {
  background-color: #D6001E;
  color: white;
}
.btn-rt:hover {
  background-color: #b30018;
  color: white;
}
/* Remove the background from button */
.btn-gone {
  background-color: transparent;
}

/* Red links */
a:not(.default) {
  color: #D6001E;
}

a:not(.default):hover{
  color: #b30018;
  text-decoration: none;
}

/* List without background */
.list-group-item {
  background-color: transparent;
}

/* Icon colors */
.fa:not(.default) {
  color: #D6001E;
}

.dropdown-item:hover {
  color: white !important;
  background-color: var(--main-color);
}

/* Block-schedule course-list modal */

.course-table {
  --row-padding: 0.25rem;
  --icon-size: 1.5em;
}

.course-table__header {
  font-weight: bold;
}

/* Reset list style  */
.course-table__body,
.course-row__extra {
  margin: 0;
  padding: 0;

  list-style: none;
}

.course-table__row {
  border-top: 1px solid rgba(0,0,0,.1);
}

.course-table__header,
.course-table__row {
  padding-block: 0.25rem;
  padding-inline-start: 0.25rem;
}

.course-table__header,
.course-row__main {
  display: grid;
  grid-template-columns: 1fr 3.5em 3em calc(var(--icon-size) + 0.5rem);
}

.course-row__ects {
  display: inline-block;
}

.course-row__number {
  text-align: end;
}

.course-row__icon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--icon-size);
  aspect-ratio: 1;
  justify-self: end;
}

.course-row__extra {
  display: flex;

  margin-inline-start: 0.5rem;

  font-size: small;
  color: var(--gray);
}

.course-row__extra__item:not(:first-child)::before {
  content: "\2022";
  margin-inline: 0.25rem;
}

.modal-divider {
  /* Bootstrap modals have a 1rem padding. To get the divider all the way out
  to the edge the margin of the divider need to be the same but negative. */
  margin-inline: -1rem;
}

/* Block stuff */

.block-schedule {
  --schedule-background-color-light: var(--gray-light);
  --schedule-background-color-dark: #343a40;
  --schedule-text-color: white;
  --schedule-margin: 0.5rem;
  --schedule-padding: 0.25rem;
  --schedule-border-width: 0.125rem;
  --schedule-border-radius: 0.25rem;
  --schedule-gap: 0.125rem;
  --schedule-block-font-size: 0.6vw;

  color: var(--schedule-text-color);
}

.academic-year {
  display: grid;
  gap: var(--schedule-gap);
  
  margin: var(--schedule-margin) 0;
  background-color: var(--schedule-background-color-light);
}

.academic-year.one-column {
  grid-template-columns: repeat(1, 1fr);
}

.academic-year.two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.term-header {
  border: 0;
  border-radius: var(--schedule-border-radius) var(--schedule-border-radius) 0 0;
  background-color: var(--schedule-background-color-dark);

  font-size: large;
  text-align: center;
}

.period-header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--schedule-gap);
}

.period-header {
  padding-block-end: var(--schedule-padding);
  background-color: var(--schedule-background-color-dark);
  
  font-size: small;
  text-align: center;
}

.course-container {
  position: relative;

  /* Empty course containers should have some height to distinguish between the
   * headers and the footer. */
  min-height: 1rem;
}

.course {
  position: absolute;
  border: var(--schedule-border-width) var(--main-color) solid;
  background-color: var(--main-color-dark);
}

.one-column .course {
  font-size: calc(2 * var(--schedule-block-font-size));
}

.two-columns .course {
  font-size: var(--schedule-block-font-size);
}

.course-title {
  margin: 0;
  margin-top: 0.75rem;
  padding-left: 0.25rem;
  padding-right: 1.5rem;
  cursor: pointer;

  font-weight: bold;
  text-align: left;
}

.course-remove-button {
  position: absolute;
  top: 0;
  right: 0;
}

.course a,
.course .fa {
  color: var(--schedule-text-color);
}

.course a:hover {
  color: var(--main-color-light);
}

.term-footer {
  display: flex;
  gap: var(--schedule-gap);
}

.term-footer > div {
  flex-grow: 1;

  padding: var(--schedule-padding) 0;
  border: 0;
  border-radius: 0 0 var(--schedule-border-radius) var(--schedule-border-radius);
  background-color: var(--schedule-background-color-dark);
}

.term-footer-button,
.term-footer-button:hover {
  color: var(--schedule-text-color);
}

.term-footer-button:hover {
  background-color: var(--main-color);
}

.block-schedule-footer {
  padding: var(--schedule-padding) 0;
  border-radius: var(--schedule-border-radius);
  background-color: var(--schedule-background-color-dark);
}

.block-schedule-footer:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

/* Course list */
.course-list-filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));

  padding: 1rem;
  border-radius: 0.25rem;
  margin-block: 1rem;
  background-color: #ececec;
}

.course-list__header {
  display: flex;
  gap: 5rem;

  padding: 0.5rem;

  font-weight: bold;
}

.course-list__header > :first-child {
  justify-content: space-between;

  flex-grow: 1;
}

.header-section {
  display: flex;
}

.header-section__ects,
.header-section__level,
.header-section__category {
  display: none;
}

.courses {
  padding: 0;
  margin: 0;
  list-style: none;
}

.courses > * {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem;
  border-block-start: 1px solid rgba(0, 0, 0, 0.1);
}

.courses__columns {
  display: flex;
  justify-content: end;
}

.courses__icon {
  display: flex;
  align-items: center;
}

.courses__extra {
  display: flex;
  gap: 0.25rem;

  padding: 0;
  margin: 0;
  list-style: none;
}

.courses__extra > * {
  display: initial;
}

.courses__columns .categories-column {
  flex-wrap: wrap;

  margin-top: 0.25rem;
}

.courses__columns .level-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ects-row,
.level-row,
.category-row {
  display: none;
}

.ects-column {
  width: 4rem;
  margin-right: 5rem;

  text-align: end;
}

.level-column {
  width: 3.5rem;
  height: 1.5rem;
  margin-right: 5rem;
}

.categories-column {
  width: 6rem;
}

@media (width < 52rem) {
  .header-section__ects,
  .ects-row {
    display: inline-block;
  }

  .ects-column {
    display: none;
  }
}

@media (width < 46rem) {
  .header-section__level,
  .level-row {
    display: block;
  }

  .level-column {
    display: none;
  }
}

@media (width < 40rem) {
  .header-section__category,
  .category-row {
    display: block;
  }

  .course-list__header > :last-child,
  .categories-column {
    display: none;
  }
}

/** SELECT2 */
.select2-results__option--highlighted {
  background-color: var(--main-color) !important;
}

.select2-results__options {
  font-size:small !important;
}

.select2-selection__rendered {
  font-size:small !important;
}

/* PAGINATION */
.pagination {
  justify-content: center;
  
  margin-top: 1rem;
}

.page-link {
  color: var(--main-color) !important;
}

.page-item.active .page-link {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
  color: white !important;
}

.page-item:first-child .page-link {
  margin-right: 0.5rem;
}

.page-item:last-child .page-link {
  margin-left: 0.5rem;
}

.page-ellipsis {
  display: block;
  padding: 0.5rem 0.5rem;
  line-height: 1.25;
}

@media (width < 650px) {
  .page-hidden-medium {
    display: none;
  }
}

@media (width < 500px) {
  .page-hidden-narrow {
    display: none;
  }
}

/* FORM CATEGORY */
.cat-select {
  width: 60%;
}

.cat-ects {
  width: 20%;
}
