django
django-bootstrap4
django-crispy-forms
django-cas-ng
Pillow
psycopg2
django-tables2
django-filter
django-bootstrap-modal-forms
django-widget-tweaks
openpyxl
django-registration
django-recaptcha
