django  # Base django module
django-bootstrap4  # CSS base
django-crispy-forms  # Nice looking forms
django-tables2  # Tables for lists
django-filter  # Filtering the lists
django-bootstrap-modal-forms  # Nice modals for forms
django-widget-tweaks  # Flexible form widgets
django-registration  # User registration manager
django-simple-captcha  # Recaptcha for user creation
openpyxl  # Managing excel files
Pillow  # Not sure to be frank
psycopg2-binary  # Postgresql
crispy-bootstrap5 # required for new django version
