<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <clear />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\rodatraden\venv\Scripts\python.exe|C:\inetpub\rodatraden\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>

        <httpErrors errorMode="Detailed" />
    </system.webServer>

    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\rodatraden" />
        
        <add key="DJANGO_SETTINGS_MODULE" value="tf.settings" />
        
        <add key="WSGI_HANDLER" value="tf.wsgi.application" />
        
        <add key="WSGI_LOG" value="C:\inetpub\rodatraden\wfastcgi.log" />
    </appSettings>
    <location path="static">
    </location>
</configuration>