{% extends 'rodatraden/index.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block title %}Återställ lösenord{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb course.title "course-detail" course.title %}
{% endblock %}

{% block page_title %}Återställ lösenord{% endblock %}

{% block content %}

  <p class="lead">Instruktionerna har skickats. Om de inte har nått din
  mailadress inom några minuter, kolla din skräppost.<p>

{% endblock %}
