{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'rodatraden/favicon.png' %}"/>

    <title>Röda Tråden - {% block title %}{% endblock %}</title>

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'rodatraden/rodatraden.css' %}">
    <!-- Custom javascript -->
    <link rel="stylesheet" href="{% static 'rodatraden/rodatraden.js' %}">

  </head>

  <body>

    <!-- HTML with navbar at top -->
    {% include "rodatraden/navigation.html" %}
    
    <main role="main" class="container">

      <!-- Breadcrumbs (the nice path at top) -->
      {% block breadcrumbs %}
          {% clear_breadcrumbs %}
          {% breadcrumb "Hem" "/" %}
      {% endblock %}
      {% render_breadcrumbs %}

      <!-- Main content -->
      {% block content %}
      {% endblock %}

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

    <!-- Extra javascript -->
    {% block extra_scripts %}
    {% endblock %}

    <!-- Footer TODO: MOVE TO SEPARATE FILE -->
    <footer class="footer" style="border-top: 1px solid #eee;">
      <div class="container">
        <p class="text-muted mt-3">Röda Tråden 4
        </p>
      </div>
    </footer>

  </body>
</html>
