{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% load static %}
{% load django_bootstrap_breadcrumbs %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" 
    href="{% static 'rodatraden/RTlogo.svg' %}"/>

    <title>Röda Tråden - {% block title %}{% endblock %}</title>

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'rodatraden/rodatraden.css' %}">
    <!-- Select 2 -->
    <link href="{% static 'assets/css/select2.min.css' %}" rel="stylesheet" />
  </head>

  <body>
    <div style="display: none" id="hideAll">&nbsp;</div>

    <!-- HTML with navbar at top -->
    {% include "rodatraden/navigation.html" %}
    
    <main role="main" class="container">
      <button class="btn btn-rt fixed-bottom m-1" style="font-size:small;">
        <a class="send-report" data-id="{% url 'report-create' %}">
        Rapportera problem
        </a>
      </button>
      <!--<span class="fixed-bottom fa fa-envelope m-2"></span>-->

      <!-- Breadcrumbs (the nice path at top) -->
      {% block breadcrumbs %}
          {% clear_breadcrumbs %}
          {% breadcrumb "Hem" "/" %}
      {% endblock %}
      {% render_breadcrumbs "rodatraden/breadcrumbs.html" %}

      <div class="starter-template">

        <!-- Modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            </div>
          </div>
        </div>

        <div class="text-right">
          {% block menu %}
          {% endblock %}
        </div>

        <!-- Page title -->
        <h1 class="text-center">
          {% block page_title %}
          {% endblock %}
        </h1>


        <hr>

        <!-- Main content -->
        {% block content %}
        {% endblock %}

      </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <!-- Select 2 -->
    <script src="{% static 'assets/js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'rodatraden/rodatraden.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Fancy icons -->
    <script src="https://kit.fontawesome.com/c6e9b99eeb.js"></script>
    <!-- highcharts -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/data.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <!-- Extra javascript -->
    {% block extra_scripts %}
    {% endblock %}

    <script type="text/javascript">
       document.getElementById("hideAll").style.display = "block";
     window.onload = function() 
      { document.getElementById("hideAll").style.display = "none"; }
    </script>

    <script type="text/javascript">
      // Create book button
      $(".send-report").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });
    </script>

    {% if user.is_staff %}
      <script type="text/javascript">

          $(function () {
            // Create book button
            $(".add-item").each(function () {
              $(this).modalForm({formURL: $(this).data('id')});
            });

            // Update book buttons
            $(".update-item").each(function () {
              $(this).modalForm({formURL: $(this).data('id')});
            });

            // Delete book buttons
            $(".delete-item").each(function () {
              $(this).modalForm({
                formURL: $(this).data('id')
              });
            })
          });

      </script>
    {% endif %}

    <!-- Footer TODO: MOVE TO SEPARATE FILE -->
    <footer class="footer mt-3" style="border-top: 1px solid #eee;">
      <div class="container">
        <p class="text-muted mt-3 float-left">Röda Tråden 4
        </p>

        <img src="{% static 'rodatraden/RTthread.svg' %}" width="150" class="mx-5"></img>

        <p class="text-muted mt-3 float-right">
        Designad av Lucas Hedström F14<br>
        Logo av Malin Rantala F18
        </p>
      </div>
    </footer>

  </body>
</html>
