{# Load the tag library #}
{% load bootstrap4 %}
{% load static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Röda Tråden - {% block title %}{% endblock %}</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'rodatraden/starter-template.css' %}">
    <!-- Custom javascipt -->
    <link rel="stylesheet" href="{% static 'rodatraden/app.js' %}">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'index' %}">RT4</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com"
              id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Profiler</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Alla</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Profiler ska vara här</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'categories' %}">Kategorier<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com"
              id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Kurser</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{% url 'courses' %}">Kurser</a>
              <a class="dropdown-item" href="#">Kurstillfällen</a>
            </div>
          </li>
          {% comment %}<li class="nav-item">{% endcomment %}
        {% comment %}<form class="form-inline my-2 my-lg-0">{% endcomment %}
          {% comment %}<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">{% endcomment %}
          {% comment %}<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>{% endcomment %}
        {% comment %}</form>{% endcomment %}
          {% comment %}</li>{% endcomment %}
        </ul>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logga ut</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Logga in</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      {% block content %}
      {% endblock %}

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
