{% extends 'rodatraden/index.html' %}

{% block title %}{{ ublock.title }}{% endblock %}

{% block content %}

<div class="starter-template">
  <h1 style="text-align: center;">{{ ublock.title }}</h1>
  
  {% if ublock.description %}
  <p class="lead">
  {{ ublock.description }}
  </p>

  {% else %}
  {% for year in years %}
  <div class="row">
    {% for period in "1234" %}
    <div class="col-sm" style="background-color:red;text-align:center;padding:
      1rem 1rem 1rem 1rem;margin:1rem 0rem 0.2rem 0.2rem;">
      <p>
      Läsperiod {{ period }}
      </p>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  {% endif %}
</div>


{% endblock %}
