{% extends 'rodatraden/index.html' %}

{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block title %}
  Kategorier
{% endblock %}

{% block menu %}
{% if user.is_staff %}
<a class="btn btn-gone add-item"
  data-id="{% url 'category-create' %}"
  data-toggle="tooltip" title="Skapa nytt">
  <span class="fa fa-plus"></span>
</a> 
{% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Kategorier" "category-list" %}
{% endblock %}

{% block page_title %}Kategorier{% endblock %}

{% block content %}

  <p class="lead">Under din tid på programmet ska du ha läst kurser inom ett
  antal olika områden som översiktligt beskrivs nedan.</p>
  <p class="lead">Du ska ha läst minst the angivna poängantalet för att kunna ta ut din
  examen.</p>

  {% for category in category_list %}
  <hr>
  <div class="row">
    <div class="col-md-2 text-center">
      <img 
      {% if category.image %}
         src="{{ category.image.url }}" 
      {% else %} 
         src="https://via.placeholder.com/150.png/D6001E/FFFFFF/?text={{ category.abbreviation }}" 
      {% endif %}
           alt="{{ category.title }}" class="rounded mx-auto d-block img-fluid">
      </img>
    </div>
    <div class="col-ld-1"></div>
    <div class="col-md-9">
      <h4><a href="{% url 'category-detail' category.slug %}">
          {{ category.title }}
      </a></h4>
      {{ category.description|safe|truncatewords:"50"|linebreaks }}
      <a href="{% url 'category-detail' category.slug %}">
        <span class="badge badge-rt">
        Läs mer
        </span>
      </a>
    </div>
  </div>
  {% endfor %}

{% endblock %}

