{% extends 'rodatraden/base.html' %}

{% block title %}Versionshistorik{% endblock %}

{% block page_title %}
Versionshistorik
{% endblock %}

{% block content %}

<h2>1.2.1 (2022-03-30)</h2>
<hr>
<p>
Bugfixar.
<ul>
  <li>Nu funkar användarnamn med specialtecken.</li>
  <li>Användare kan skapas igen.</li>
</ul>
</p>
<br>

<h2>1.2 (2022-03-07)</h2>
<hr>
<p>
Nu kan man logga in via mobilen!
<ul>
  <li>Hemsidan är något mer mobilanpassad. Mer arbete krävs men den funkar.</li>
  <li>Nu kan man ändra samt radera sin användare.</li>
  <li>Har implementerat en hel del QOL för administratörer.</li>
</ul>
</p>
<br>

<h2>1.1 (2022-03-07)</h2>
<hr>
<p>
Viktiga uppdateringar för användarna och säkerheten.
<ul>
  <li>Lite snyggare navbar och justerad textstorlek på blockschemana.</li>
  <li>Nu tar inte alla ens blockscheman upp listan under ens namn (Tack Hannes!)</li>
  <li>Rensat Pythonmoduler och uppdaterat alla till nya versioner.</li>
  <li>Gjort det lättare för administatörer att lägga in nya ISP:er.</li>
</ul>
</p>
<br>

<h2>1.0 (2019-09-01)</h2>
<hr>
<p>
Första versionen av Röda Tråden 4 lanseras!
</p>
{% endblock %}
