{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title"><a href="{% url 'course-detail' course.slug %}">{{ course.title }}</a></h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class="row">

    <div class="col-lg-6 mx-2 p-3 course-etc">

      <h2>Kursinfo</h2>

      <hr>

      <p class="lead">
        <a href="">{{ course.department }}</a>
      </p>

      <table style="border-collapse: separate;border-spacing:1rem 0;">
        <tr>
          <td>Poäng</td>
          <td>{{ course.ects }}</td>
        </tr>
        <tr>
          <td>Nivå</td>
          <td>{{ course.level }}</td>
        </tr>
        <tr>
          <td>Kod</td>
          <td>{{ course.code }}</td>
        </tr>
      </table>

      <hr>

      <p class="lead">
        Kategorier
      </p>

      <table style="border-collapse: separate;border-spacing:1rem 0;">
        {% for category in course.categorycourse_set.all %}
          <tr>
            <td>
              <a href="{% url 'category-detail' category.category.slug %}">{{ category.category.title }}</a>
            </td>
            <td>{{ category.ects }}</td>
          </tr>
        {% endfor %}
      </table>

      <hr>

      <p class="lead">
        Spår
      </p>

      <ul class="list-group list-group-flush">

        {% for track in course.tracks.all %}
        <li class="list-group list-group-flush">
          <a href="#">{{ track.title }}</a>
        </li>
        {% endfor %}

      </ul>

      <hr>

      <form action="https://www.umu.se/student/mina-studier/hitta-kurs-och-utbildningsplan/" method="get">
        <button name="q" value="{{ course.code }}" type="submit" class="btn
          btn-rt btn-sm">UMU Kursplanesök</button>
      </form>

    </div>

    <div class="col-lg-5 mx-2 p-3 course-etc">
      <h2>Kurstillfälle</h2>

      <hr>

      <p class="lead"><a href="{% url 'courseoccasion-detail' courseoccasion.year courseoccasion.slug %}">
        {{ course.title }}, {{courseoccasion.year }}
      </a></p>

      <table style="border-collapse: separate;border-spacing:1rem 0;">
        <tr>
          <td>Startvecka</td>
          <td>{{ courseoccasion.start }}</td>
        </tr>
        <tr>
          <td>Veckor</td>
          <td>{{ courseoccasion.weeks }}</td>
        </tr>
        <tr>
          <td>Studietakt</td>
          <td>{{ courseoccasion.get_tempo }} %</td>
        </tr>
        {% if courseoccasion.contact_name %}
        <tr>
          <td>Kontaktperson</td>
          <td><a href="mailto:{{ courseoccasion.contact_email }}">{{ courseoccasion.contact_name }}</a></td>
        </tr>
        {% endif %}
      </table>

      <hr>

      {% if courseoccasion.official %}
      <span class="badge badge-success">Godkänd</span>
      {% else %}

      {% endif %}

    </div>

  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
</div>
