{% extends 'rodatraden/index.html' %}

{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block title %}Kurser{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Kurser" "course-list" %}
{% endblock %}

{% block content %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="starter-template">
  <h1 style="text-align: center;">Kurser</h1>
  {% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
  {% endif %}
  {% render_table table %}
</div>

{% endblock %}

{% block extra_scripts %}

{% if user.is_superuser %}
  <script type="text/javascript">

      $(function () {
        // Create book button
        $(".create-book").modalForm({
          formURL: "{% url 'course-create' %}",
        });

        // Update book buttons
        $(".update-course").each(function () {
          $(this).modalForm({formURL: $(this).data('id')});
        });

        // Delete book buttons
        $(".delete-course").each(function () {
          $(this).modalForm({
            formURL: $(this).data('id')
          });
        })

        // Hide message
        $(".alert").fadeTo(2000, 500).slideUp(500, function(){
          $(".alert").slideUp(500);
        });
      });

  </script>
{% else %}
{% endif %}

{% endblock %}
