{% extends 'rodatraden/base.html' %}

{% block title %}Kurser{% endblock %}

{% block content %}

<div class="starter-template">
  <h1 style="text-align: center;">Here goes courses</h1>
  <p class="lead">
  Read title
  </p>
  {% comment %}{% if courses_list %}{% endcomment %}
  {% comment %}<ul>{% endcomment %}
    {% comment %}{% for course in courses_list %}{% endcomment %}
    {% comment %}<li>{% endcomment %}
      {% comment %}<a href="{% url 'course' course.slug %}">{{ course.title }}</a>{% endcomment %}
    {% comment %}</li>{% endcomment %}
    {% comment %}{% endfor %}{% endcomment %}
  {% comment %}</ul>{% endcomment %}
  {% comment %}{% else %}{% endcomment %}
  {% comment %}<p>Inga kategorier</p>{% endcomment %}
  {% comment %}{% endif %}{% endcomment %}
</div>


{% endblock %}
