{% load static %}

<footer class="footer mt-3" style="border-top: 1px solid #eee;">
  <div class="container">
    <p class="text-muted mt-3 float-left">Röda Tråden 4<br>
    <a href="{% url 'changelog' %}">Versionshistorik</a>
    </p>

    <img src="{% static 'rodatraden/RTthread.svg' %}" width="150" class="mx-5"></img>

    <p class="text-muted mt-3 float-right text-right">
    Skapad av Lucas Hedström, F14<br>
    Utökad av Henrik Wahlström, F19 & Marc Meunier, F22<br>
    Logo av Malin Rantala, F18
    </p>
  </div>
</footer>
