{% extends 'rodatraden/base.html' %}
{% load static %}

{% block title %}Hem{% endblock %}

{% block page_title %}
<img src="{% static 'rodatraden/RTheader.svg' %}" class="img-fluid"/>
{% endblock %}

{% block content %}

<!--
<div class="mb-2 p-4 row" style="background-color:e35962; border-radius:0.25rem; color: white;">
  <div class="col-md-12">
  <h2 style="text-align:center;">
  Mycket viktigt!
  </h2>
  <br>
  <p class="lead">
    På grund av att ITS har bestämt att lägga ner ett av sina sätt att
    autentisera mot CAS så har Röda Tråden behövt gå över till ett nytt sätt att
    ha användare. Detta innebär att du kommer inte logga in via UMU längre.
  </p>
  <p class="lead">
    Om du inte har haft en tidigare användare så ändras egentligen ingenting.
    Du kan enkelt skapa en användare genom att trycka på "Logga in" uppe i högra
    hörnet.
  </p>
  <p class="lead">
    Om du har haft en användare förut på Röda Tråden och vill ha tillbaka dina
    blockscheman så går du tillväga på detta sätt: <br>
    Skriv ett mail till <a href="mailto:lucas.hedstrom@umu.se">mig</a> från din
    studentmail. På så sätt kan du styrka att det faktiskt är ditt cas. I det
    mailet så får du specificera vad du vill ha för användarnamn och mailadress.
    Därefter så kommer du inom kort få ett återställningsmail där du kan skriva
    in ett nytt lösenord, och alla dina blockscheman kommer finnas kvar.
  </p>
  <p class="lead">
    På grund av tidsbrist så är detta det bästa sättet jag kan komma på för att
    återställa era användare. Jag hoppar ni har överseende på denna
    halvkrassliga lösning!
  </p>
  <p class="lead">
    Lucas
  </p>
  </div>
</div>
-->

<div class="course-etc p-4 row">
<p class="lead">
Röda tråden är en databas med information om kurserna på Teknisk fysik i Umeå.
Den är till för dig som undrar över något om kurserna inom teknisk fysik. Du kan
vara student, kursansvarig eller bara allmänt nyfiken på Teknisk fysiks kurser.
Röda tråden visar översiktligt hur förkunskapskrav hänger ihop mellan kurserna.
</p>
<p class="lead">
Röda tråden har byggts upp av studenter på programmet och drivs amanuenserna,
med stöd från kursansvariga lärare och engagerade studenter. Röda tråden har
utvecklats av flera olika studenter, och befinner sig nu i sin fjärde version.
</p>
{% if not logged_user %}
<p class="lead">
Vi noterar att du ej är inloggad i systemet. När man är inloggad kan man göra
egna scheman och planera sin studiegång på ett smidigt sätt.
</p>
{% endif %}
</div>

<hr>

<div class="row">
  <div class="col-lg-7 mb-3">
    <div class="card">
      <h5 class="card-header text-center">Profiler</h5>
        <div class="card-body">
          <div class="card-columns" style="column-count: 3;">
            {% for profile in profiles %}
            <div class="card">
              <img 
              {% if profile.image %}
                 src="{{ profile.image.url }}" 
              {% else %} 
                 src="https://via.placeholder.com/150.png/D6001E/FFFFFF/?text={{ profile.abbreviation }}" 
              {% endif %}
                   alt="{{ profile.title }}" class="card-img-top">
              </img>
              <div class="card-body">
                <a style="font-weight:bold;" class="card-title" 
                  href="{% url 'profile-detail' profile.slug %}">
                  {{ profile.title }}</a>
                <p class="card-text">
                {{ profile.description|safe|truncatewords:"10"|linebreaks }}
                </p>
                <a href="{% url 'profile-detail' profile.slug %}" 
                  class="badge badge-rt">Läs mer</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card">
      <h6 class="card-header text-center">Kategorier</h6>
      <div class="card-body">
            <ul class="list-group list-group-flush m-0">
            {% for category in categories %}
            <li class="list-group-item p-0 m-0" style="font-size:small;">
              <a href="{% url 'category-detail' category.slug %}"
              style="font-weight:bold;">{{ category.title }}</a>
              <p style="font-size:x-small">Uppdaterad {{ category.time_since_updated }}</p>
            </li>
            {% endfor %}
            </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mt-3">
        <div class="card">
          <h6 class="card-header text-center">Kursuppdateringar</h6>
          <div class="card-body">
            <ul class="list-group list-group-flush m-0">
            {% for course in latest_courses %}
            <li class="list-group-item p-0 m-0" style="font-size:small;">
              <a href="{% url 'course-detail' course.slug %}"
              style="font-weight:bold;">{{ course.title }}</a>
              <p style="font-size:x-small">Uppdaterad {{ course.time_since_updated }}</p>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mt-3">
        <div class="card">
          <h6 class="card-header text-center">Blockuppdateringar</h6>
          <div class="card-body">
            <ul class="list-group list-group-flush m-0">
            {% for bblock in latest_blocks %}
            <li class="list-group-item p-0 m-0" style="font-size:small;">
              <a href="{% url 'block-detail' bblock.user.username bblock.slug %}"
              style="font-weight:bold;">{{ bblock.title }}</a>
              <p style="font-size:x-small">Uppdaterad {{ bblock.time_since_updated }}</p>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
