{% extends 'rodatraden/index.html' %}

{% load django_bootstrap_breadcrumbs %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block title %}
Egna kurser
{% endblock %}

{% block menu %}
<a class="btn btn-gone add-item"
  data-id="{% url 'privatecourse-create' user.username %}"
  data-toggle="tooltip" title="Skapa nytt">
  <span class="fa fa-plus"></span>
</a> 
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Egna kurser" "privatecourse-list" %}
{% endblock %}

{% block page_title %}Egna kurser{% endblock %}

{% block content %}

{% render_table table %}

{% endblock %}
