{% extends 'rodatraden/base.html' %}
{% load static %}

{% block title %}Verktyg{% endblock %}

{% block page_title %}
Verktyg
{% endblock %}

{% block content %}

{% comment %}
TODO: Remove this include when the prerequisite migration is complete.
{% endcomment %}
{% include 'rodatraden/prerequisite_migration.html' %}

<h2>Kopiera kurstillfällen till nytt år</h2>
<p>Med detta verktyg så kan du välja kopiera alla kurstillfällen från ett år
till ett annat. Denna funktion skriver inte över existerande kurstillfällen.</p>

<b>OBS: Detta går inte att backa från, så denna funktion ska rimligtvis bara
  användas en gång per år. Tänk också på att ta bort kurser som är varannat år,
  etc.</b>

<div class='my-3'>
  <form action={% url 'tools' %} method='post' novalidate>
    {% csrf_token %}
    <span class='px-3'>Ta från år</span>
    <select name='from' id='from'>
      {% for acyear in acyears %}
      <option value='{{ acyear.id }}'>{{ acyear.title }}</option>
      {% endfor %}
    </select>
    <span class='px-3'>till år</span>
    <select name='to' id='to'>
      {% for acyear in acyears %}
      <option value='{{ acyear.id }}'>{{ acyear.title }}</option>
      {% endfor %}
    </select>
    <input class='mx-3' type='submit' value='Skicka' name='courseocc_copy'>
  </form>
</div>
{% endblock %}
