<li class='rt-modal-table__row{% if courseoccasion.in_block %} rt-modal-table__row--in-block{% elif courseoccasion.already_taking %} rt-modal-table__row--already-taking{% endif %}{% if courseoccasion.has_unmet_prerequisites %} rt-modal-table__row--unmet-prereq{% endif %}'>
  <div class='course-row__main'>
    <span>
      {% if courseoccasion.in_block %}
      <span class="add-course-link add-course-link--disabled"
          title="Redan tillagd i blockschemat">
        {{ course.title }}
      </span>
      {% else %}
      <a href="{% url 'block-add-course' username b_slug %}?slug={{ courseoccasion.slug}}{% if is_private %}&private=1{% endif %}"
          class="add-course-link"
          aria-label="Lägg till {{ course.title }} {{ course.ects }} högskolepoäng"
          title="{% if courseoccasion.has_unmet_prerequisites %}Förkunskapskrav ej uppfyllda - {% endif %}{% if courseoccasion.already_taking %}Lägg till (omregistrering){% else %}Lägg till{% endif %}">
        {{ course.title }}
      </a>
      {% endif %}
      {% if courseoccasion.has_unmet_prerequisites %}
      <i class="fa fa-exclamation-triangle course-row__warning-icon" 
         aria-hidden="true" 
         title="Förkunskapskrav ej uppfyllda"></i>
      {% endif %}
      <span class='course-row__ects' aria-hidden="true">{{ course.ects }} hp</span>
      {% if courseoccasion.in_block %}
      <span class='course-row__in-block-badge'>Redan tillagd</span>
      {% elif courseoccasion.already_taking %}
      <span class='course-row__retake-badge'>Omregistrering</span>
      {% endif %}
    </span>
    <span class='rt-column--number'>{{ courseoccasion.weeks }}</span>
    <span class='rt-column--number'>{{ courseoccasion.pace }}%</span>
    <a class="rt-column--last"
        {% if is_private %}
        href="{% url 'privatecourse-detail' courseoccasion.user.username courseoccasion.slug %}"
        {% else %}
        href="{% url 'courseoccasion-detail' courseoccasion.academic_year.year courseoccasion.slug %}"
        {% endif %}
        aria-label="Läs mer om {{ course.title }} {{ course.ects }} högskolepoäng">
      Läs mer
    </a>
  </div>
  {% if courseoccasion.start_weeks_into_period %}
  <p class='course-row__extra'>
    Startar {{ courseoccasion.start_weeks_into_period }} 
    {% if courseoccasion.start_weeks_into_period == 1 %}
    vecka
    {% else %}
    veckor
    {% endif %}
    in
  </p>
  {% endif %}
</li>