{% extends 'rodatraden/index.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
  Kurser
{% endblock %}

{% block menu %}
{% if user.is_staff %}
<a class="btn btn-gone add-item"
  data-id="{% url 'course-create' %}"
  data-toggle="tooltip" title="Skapa nytt">
  <span class="fa fa-plus"></span>
</a> 
{% endif %}
{% endblock %}

{% block page_title %}Kurser{% endblock %}

{% block content %}

{% if filter %}
<form action="" method="get" class="form form-inline rt-table-filters">
  {% for field in filter.form %}
  {% render_field field class+="course-list-filter" %}
  {% endfor %}
</form>
{% endif %}

<div class="rt-table
            rt-table--course-list">
  <div class="rt-table-header-container">
    <div class="rt-table-header
                rt-table-header--list-mode">
      <a href="{% url 'course-list' %}?sort_order=-title"
          class="rt-table-header__item
                 rt-table-header__item--title
                 title-link">
        Kursnamn <span class="fa fa-caret-up"></span>
      </a>
      <a href="{% url 'course-list' %}?sort_order=ects"
          class="rt-table-header__item
                 rt-table-header__item--ects
                 ects-link">
        Poäng <span class="fa"></span>
      </a>
      <a href="{% url 'course-list' %}?sort_order=level"
          class="rt-table-header__item
                 rt-table-header__item--level
                 level-link">
        Nivå <span class="fa"></span>
      </a>
      <span class="rt-table-header__item
             rt-table-header__item--category">
        Kategorier
      </span>
    </div>
    <div class="rt-table-header
                rt-table-header--table-mode">
      <a href="{% url 'course-list' %}?sort_order=ects"
          class="rt-table__item--table-mode
                 rt-table__item--table-mode--ects
                 ects-link">
        Poäng <span class="fa"></span>
      </a>
      <a href="{% url 'course-list' %}?sort_order=level"
          class="rt-table__item--table-mode
                 rt-table__item--table-mode--level
                 level-link">
        Nivå <span class="fa"></span>
      </a>
      <span class="rt-table__item--table-mode
             rt-table__item--table-mode--categories">
        Kategorier
      </span>
    </div>
  </div>

  <ul class="rt-table-body">
    {% for course in page %}
    <li class="rt-table-row">
      <div class="rt-table-row__main-section">
        <div>
          <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
          <span class="rt-table__item--list-mode
                       rt-table__item--list-mode--ects">
            {{ course.ects }} hp
          </span>
        </div>
        <ul class="rt-table__badge-list">
          <li class="rt-table__item--list-mode
                     rt-table__item--list-mode--level">
            <span class=
                  {% if course.level.title == "Grundläggande" %}
                  "badge badge-success"
                  {% else %}
                  "badge badge-warning"
                  {% endif %}
                data-toggle="tooltip"
                title="{{ course.level.title }}">
              {{ course.level.first_letter }}
            </span>
          </li>
          {% for category in course.categories.all %}
          <li class="rt-table__item--list-mode
                     rt-table__item--list-mode--category">
            <a href="{{ category.get_absolute_url }}">
              <span class="badge badge-secondary" data-toggle="tooltip" title="{{ category.title }}">
                {{ category.abbreviation }}
              </span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="rt-table-row__columns">
        <span class="rt-table__item--table-mode
                     rt-table__item--table-mode--ects">{{ course.ects }}</span>
        <div class="rt-table__item--table-mode
                    rt-table__item--table-mode--level">
          <span class=
                {% if course.level.title == "Grundläggande" %}
                'badge badge-success'
                {% else %}
                'badge badge-warning'
                {% endif %}
              data-toggle='tooltip'
              title='{{ course.level.title }}'>
            {{ course.level.first_letter }}
          </span>
        </div>
        <ul class="rt-table__badge-list
                   rt-table__item--table-mode--categories">
          {% for category in course.categories.all %}
          <li>
            <a href="{{ category.get_absolute_url }}">
              <span class="badge badge-secondary" data-toggle='tooltip' title='{{ category.title }}'>
                {{ category.abbreviation }}
              </span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<nav role="navigation" aria-label="Pagination Navigation">
  <ul class="pagination">
    {% if page.has_previous %}
    <li class="page-item page-item--previous">
      <a href="{{ unfinished_page_path }}{{ page.previous_page_number }}"
         class="page-link"
         aria-label="Previous page"
      >
        &lt <span class="page-hidden-medium">Föregående</span>
      </a>
    </li>
    {% endif %}
    
    {% for page_number in page_numbers %}
    {% if page_number == ellipsis %}
    <li class="page-item" aria-hidden="true">
      <span class="page-ellipsis">{{ page_number }}</span>
    </li>
    {% elif page_number == page.number %}
    <li class="page-item active">
      <a href="{{ unfinished_page_path }}{{ page_number }}"
         class="page-link"
         aria-label="Current page, page {{ page_number }}"
         aria-current="true"
      >
        {{ page_number }} 
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a href="{{ unfinished_page_path }}{{ page_number }}"
         class="page-link"
         aria-label="Page {{ page_number }}"
      >
        {{ page_number }} 
      </a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page.has_next %}
    <li class="page-item page-item--next">
      <a href="{{ unfinished_page_path }}{{ page.next_page_number }}"
         class="page-link"
         aria-label="Next page"
      >
        <span class="page-hidden-medium">Nästa</span> &gt
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}

{% block extra_scripts %}

<script type="text/javascript">

  $(function() {
    $("form :input").change(function() {
      $("form:first").submit();
    });
    $(".course-list-filter").select2({ width: 'style' });
  });

</script>

<script src="{% static 'rodatraden/course_list.js' %}"
        defer
></script>

{% endblock %}
