{% extends 'rodatraden/course/course_list.html' %}

{% load prerequisite_sorter %}

{% block title %}{{ course }}{% endblock %}

{% block menu %}
<a class="btn btn-gone" 
  href="{% url 'course-list' %}"
  data-toggle="tooltip" title="Kurser">
  <span class="fa fa-list"></span>
</a>
{% if user.is_staff %}
<a class="btn btn-gone update-item" 
  data-id="{% url 'course-update' course.slug %}"
  data-toggle="tooltip" title="Ändra">
  <span class="fa fa-edit"></span>
</a>
<a class="btn btn-gone delete-item"
  data-id="{% url 'course-delete' course.slug %}"
  data-toggle="tooltip" title="Radera">
  <span class="fa fa-trash"></span>
</a> 
{% endif %}
{% endblock %}

{% block page_title %}{{ course.title }}{% endblock %}

{% block content %}

<div class="row px-3">
  <div class="col-lg-8 p-3 course-main">
    <div class="row m-2 pb-3">
      <div class="col">
        <p class="lead">
          Aktuellt kursbeskrivning finns i kursplanen.
        </p>
        <a href="https://www.umu.se/student/kurs-och-utbildningsplan/{{ course.code|lower }}/" target="_blank" class="btn btn-rt btn-lg default">
          UMU Kursplan
        </a>
        <hr>
        {% if course.description %}
          {{ course.description | safe }}
        {% endif %}
      </div>
    </div>

    <div class="row">

      <div class="col m-1 pb-3">
        <div class="card">
          <h5 class="card-header">Förkunskapskrav</h5>
          <div class="card-body">
            {% include 'rodatraden/prerequisite_list.html' with prerequisites=course.prerequisites.all %}
          </div>
        </div>
      </div>

      <div class="col-lg-5 m-1 pb-3">
        <div class="card">
          <h5 class="card-header">Ger behörighet</h5>
          <div class="card-body">
            <ul class="list-group list-group-flush m-0">
            {% for course in courses_requiring_this_course %}
            <li class="list-group-item">
              <a href="{% url 'course-detail' course.slug %}">{{ course.title }}</a>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 p-3">
    <div class="card">
      <h5 class="card-header">Info</h5>
      <div class="card-body">
        <h5 class="card-title">
          {% if course.department.url %}
          <a href="{{ course.department.url }}">
            {{ course.department }}
          </a>
          {% else %}
            {{ course.department }}
          {% endif %}
        </h5>
        <table style="border-collapse: separate;border-spacing:1rem 0;">
          <tr>
            <td>Poäng</td>
            <td>{{ course.ects }}</td>
          </tr>
          <tr>
            <td>Nivå</td>
            <td>{{ course.level }}</td>
          </tr>
          <tr>
            <td>Kod</td>
            <td>{{ course.code }}</td>
          </tr>
        </table>

        <hr>
        <h5 class="card-title">
          Kategorier
        </h5>

        <table style="border-collapse: separate;border-spacing:1rem 0;">
          {% for category in course.categorycourse_set.all %}
            <tr>
              <td>
                <a href="{% url 'category-detail' category.category.slug %}">{{ category.category.title }}</a>
              </td>
              <td>{{ category.ects }}</td>
            </tr>
          {% endfor %}
        </table>

        <hr>
        <h5 class="card-title">
          Spår
        </h5>

        <ul class="list-group list-group-flush">
          {% for track in course.tracks.all %}
          <li class="list-group list-group-flush">
            <a href="{% url 'profile-detail' track.profile.slug %}">{{ track.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="card mt-3">
      <h5 class="card-header">Kurstillfällen</h5>
      <div class="card-body p-0">
        {% if course_occasions %}
        <table class="table table-sm mb-0">
          <thead>
            <tr>
              <th>År</th>
              <th>Läsperiod</th>
              <th>Veckor</th>
            </tr>
          </thead>
          <tbody>
            {% for co in course_occasions %}
            <tr>
              <td><a href="{{ co.get_absolute_url }}">{{ co.academic_year.year }}</a></td>
              <td>{{ co.time_period.title }}</td>
              <td>{{ co.weeks|default:"-" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="text-muted mb-0 p-3">Inga kurstillfällen registrerade.</p>
        {% endif %}
      </div>
    </div>

    {% if perms.rodatraden.can_manage_scheduling %}
    <div class="card mt-3">
      <h5 class="card-header">
        Schemaläggning
        <a class="btn btn-sm btn-gone add-item"
          data-id="{% url 'segment-create' %}?course={{ course.pk }}"
          data-toggle="tooltip" title="Lägg till segment">
          <span class="fa fa-plus"></span>
        </a>
      </h5>
      <div class="card-body">
        {% for segment in course.schedule_segments.all %}
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div>
              <strong>{{ segment.time_period.title }}</strong><br>
              <small>
                {{ segment.start_year }}–{{ segment.end_year|default:"→" }}
                · {{ segment.get_frequency_display }}
                · {{ segment.weeks }} veckor
                {% if segment.blacklisted_years %}
                  <br>Undantag: {{ segment.blacklisted_years|join:", " }}
                {% endif %}
              </small>
            </div>
            <div>
              <a class="btn btn-sm btn-gone update-item"
                data-id="{% url 'segment-update' segment.pk %}"
                data-toggle="tooltip" title="Ändra">
                <span class="fa fa-edit"></span>
              </a>
              <a class="btn btn-sm btn-gone delete-item"
                data-id="{% url 'segment-delete' segment.pk %}"
                data-toggle="tooltip" title="Radera">
                <span class="fa fa-trash"></span>
              </a>
            </div>
          </div>
          {% if not forloop.last %}<hr class="my-1">{% endif %}
        {% empty %}
          <p class="text-muted mb-0">Inga segment konfigurerade.</p>
        {% endfor %}

        {% if course.schedule_segments.all %}
        <hr class="my-2">
        <a class="btn btn-sm btn-gone update-item"
          data-id="{% url 'segment-execute' course.pk %}"
          data-toggle="tooltip" title="Förhandsgranska och verkställ schemaändringar">
          <span class="fa fa-play"></span> Verkställ
        </a>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
