{% extends 'rodatraden/course/course_list.html' %}

{% load prerequisite_sorter %}

{% block title %}{{ course.title }}{% endblock %}

{% block menu %}
<a class="btn btn-gone" 
  href="{% url 'course-list' %}"
  data-toggle="tooltip" title="Kurser">
  <span class="fa fa-list"></span>
</a>
{% if user.is_staff %}
<a class="btn btn-gone update-item" 
  data-id="{% url 'course-update' course.slug %}"
  data-toggle="tooltip" title="Ändra">
  <span class="fa fa-edit"></span>
</a>
<a class="btn btn-gone delete-item"
  data-id="{% url 'course-delete' course.slug %}"
  data-toggle="tooltip" title="Radera">
  <span class="fa fa-trash"></span>
</a> 
{% endif %}
{% endblock %}

{% block page_title %}{{ course.title }}{% endblock %}

{% block content %}

<div class="row px-3">
  <div class="col-lg-8 p-3 course-main">
    <div class="row m-2 pb-3">
      <div class="col">
        <p class="lead">
          Aktuellt kursbeskrivning finns i kursplanen.
        </p>
        <form action="https://www.umu.se/student/mina-studier/hitta-kurs-och-utbildningsplan/" method="get">
          <button name="q" value="{{ courseoccasion.course.code }}" type="submit" class="btn
            btn-rt btn-lg">
            UMU Kursplanesök
          </button>
        </form>
        <hr>
        {% if course.description %}
          {{ course.description | safe }}
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col m-1 pb-3">
        <div class="card">
          <h5 class="card-header">Förkunskapskrav</h5>
          <div class="card-body">
            <ul class="list-group list-group-flush m-0">
            {% for prereq in course.prerequisites.all %}
            <li class="list-group-item">
              <a href="{% url 'course-detail' prereq.slug %}">{{ prereq.title }}</a>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="col m-1 pb-3">
        {% comment %} New prerequisite system {% endcomment %}
        <div class="card">
          <h5 class="card-header">Förkunskapskrav (v2)</h5>
          <div class="card-body">
            <ul class="list-group list-group-flush m-0">
              {% for prerequisite in course.prerequisitenew_set.all|sort_prerequisites %}

              <li class="list-group-item">
                {% for prerequisite_course in prerequisite.equivalent_prerequisites.all|dictsort:'title' %}

                <a href="{% url 'course-detail' prerequisite_course.slug %}">{{ prerequisite_course.title }}</a>

                {% if not forloop.last %}
                <span class="prerequisite-list-separator">eller</span>
                {% endif %}

                {% endfor %}
              </li>

              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-5 m-1 pb-3">
        <div class="card">
          <h5 class="card-header">Ger behörighet</h5>
          <div class="card-body">
            <ul class="list-group list-group-flush m-0">
            {% for course in prereq_courses %}
            <li class="list-group-item">
              <a href="{% url 'course-detail' course.slug %}">{{ course.title }}</a>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-5 m-1 pb-3">
        <div class="card">
          <h5 class="card-header">Ger behörighet (v2)</h5>
          <div class="card-body">
            <ul class="list-group list-group-flush m-0">
            {% for course in courses_requiring_this_course %}
            <li class="list-group-item">
              <a href="{% url 'course-detail' course.slug %}">{{ course.title }}</a>
            </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 p-3">
    <div class="card">
      <h5 class="card-header">Info</h5>
      <div class="card-body">
        <h5 class="card-title">
          {% if course.department.url %}
          <a href="{{ course.department.url }}">
            {{ course.department }}
          </a>
          {% else %}
            {{ course.department }}
          {% endif %}
        </h5>
        <table style="border-collapse: separate;border-spacing:1rem 0;">
          <tr>
            <td>Poäng</td>
            <td>{{ course.ects }}</td>
          </tr>
          <tr>
            <td>Nivå</td>
            <td>{{ course.level }}</td>
          </tr>
          <tr>
            <td>Kod</td>
            <td>{{ course.code }}</td>
          </tr>
        </table>

        <hr>
        <h5 class="card-title">
          Kategorier
        </h5>

        <table style="border-collapse: separate;border-spacing:1rem 0;">
          {% for category in course.categorycourse_set.all %}
            <tr>
              <td>
                <a href="{% url 'category-detail' category.category.slug %}">{{ category.category.title }}</a>
              </td>
              <td>{{ category.ects }}</td>
            </tr>
          {% endfor %}
        </table>

        <hr>
        <h5 class="card-title">
          Spår
        </h5>

        <ul class="list-group list-group-flush">
          {% for track in course.tracks.all %}
          <li class="list-group list-group-flush">
            <a href="{% url 'profile-detail' track.profile.slug %}">{{ track.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
