{% load widget_tweaks %}
{% load static %}

<form method="post" action="" novalidate>
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Ändra kurs</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    {% for field in form.visible_fields|slice:":11" %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class+="form-control" placeholder=field.label %}
        <div class="pt-1 {% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="alert alert-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <h2>Spår</h2>
    <hr>

    {% for field in form.visible_fields|slice:"11:14" %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class+="form-control" placeholder=field.label %}
        <div class="pt-1 {% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="alert alert-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <h2>Kategorier</h2>
    <hr>

    {% for category_field in form.get_category_fields %}
    <div class="form-group {% if forloop.last %}category-list-new d-none{% endif %}
                row px-3">
      {{ category_field }}
      <div class="input-group-append">
        <span class="input-group-text">hp</span>
      </div>
      <button type="button" class="btn btn-gone remove-category">
        <span class="fa fa-trash"></span>
      </button>
    </div>
    <div class="{% if category_field.errors %} invalid{% endif %}">
      {% for error in category_field.errors %}
        <p class="alert alert-danger">{{ error }}</p>
      {% endfor %}
    </div>
    {% endfor %}

    <button type="button" class="btn btn-gone add-category"
      data-toggle="tooltip" title="Lägg till kategori">
      <span class="fa fa-plus"></span>
    </button>
    
    <h2>Förkunskapskrav</h2>

    <div id="prerequisites">
      {% for prerequisite_field in form.get_prerequisite_fields %}
      <div class="form-group row px-3 form-prerequisite">
        {{ prerequisite_field }}

        <button type="button" class="btn btn-gone add-equivalent-course"
          data-toggle="tooltip" title="Lägg till alternativ kurs">
          <span class="fa fa-plus"></span>
        </button>
        <button type="button" class="btn btn-gone remove-prerequisite"
          data-toggle="tooltip" title="Ta bort förkunskapskrav">
          <span class="fa fa-trash"></span>
        </button>
      </div>

      {% if prerequisite_field.errors %}
      <div class="invalid">
        {% for error in prerequisite_field.errors %}
          <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}


      {% endfor %}
    </div>

    <button type="button" id="add-prerequisite"
            class="btn btn-gone form-add-prerequisite"
            data-toggle="tooltip" title="Lägg till förkunskapskrav">
      <span class="fa fa-plus"></span>
    </button>

    <template id="prerequisite-template">
      <div class="form-group row px-3 form-prerequisite">
        {{ form.get_default_prerequisite_field }}

        <button type="button" class="btn btn-gone add-equivalent-course"
          data-toggle="tooltip" title="Lägg till alternativ kurs">
          <span class="fa fa-plus"></span>
        </button>
        <button type="button" class="btn btn-gone remove-prerequisite"
          data-toggle="tooltip" title="Ta bort förkunskapskrav">
          <span class="fa fa-trash"></span>
        </button>
      </div>
    </template>

    <template id="prerequisite-or-template">
      <span class="form-prerequisite__or-separator">eller</span>
    </template>

    <template id="prerequisite-and-template">
      <span class="form-prerequisite__and-separator">och</span>
    </template>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Stäng</button>
    <button type="submit" class="btn btn-rt">Uppdatera</button>
  </div>

</form>

<script defer src="{% static 'rodatraden/course_form.js' %}"></script>

<script defer type="text/javascript">
  $(document).ready(function() {
      $(function () {
          $(".select2-mult-choice").select2({ width: '100%' });
          $('.add-category').on('click', function() {
              let $this = $('.category-list-new')
              /* Get the div and clone */
              let $clone = $this.clone(true, true)
              /* get name from hidden div */
              let name = $clone.find('select').attr('name')
              /* Get num */
              n = parseInt(name.split('_')[1]) + 1

              /* Update select name and id */
              name = 'category_' + n + '_0'
              $clone.find('select').val('')
              $clone.find('select').attr('name', name)
              name = 'category_' + (n+1) + '_0'
              $this.find('select').attr('name', name)
              id = 'id_category_' + n + '_0'
              $clone.find('select').attr('id', id)
              id = 'id_category_' + (n+1) + '_0'
              $this.find('select').attr('id', id)

              /* Update input name and id */
              name = 'category_' + n + '_1'
              $clone.find('input').val("0.0")
              $clone.find('input').attr('name', name)
              name = 'category_' + (n + 1) + '_1'
              $this.find('input').attr('name', name)
              id = 'id_category_' + n + '_1'
              $clone.find('input').attr('id', id)
              id = 'id_category_' + (n+1) + '_1'
              $this.find('input').attr('id', id)

              /* Remove classes from new div and insert */
              $clone.removeClass('d-none')
              $clone.removeClass('category-list-new')
              $clone.insertBefore($this)
            });

          $(".remove-category").on('click', function(event) {
              let $this = $(this)

              if ($this.parent().hasClass("category-list-new"))
              {
                  $this.parent().prev().addClass("category-list-new")
                }

              $(this).parent().remove();
            });

          $('[data-toggle="tooltip"]').tooltip()
        });
    });
</script>
