{% extends 'rodatraden/index.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
  Kurser
{% endblock %}

{% block menu %}
{% if user.is_staff %}
<a class="btn btn-gone add-item"
  data-id="{% url 'course-create' %}"
  data-toggle="tooltip" title="Skapa nytt">
  <span class="fa fa-plus"></span>
</a> 
{% endif %}
{% endblock %}

{% block page_title %}Kurser{% endblock %}

{% block content %}

{% if filter %}
<form action="" method="get" class="form form-inline course-list-filters">
  {% for field in filter.form %}
  {% render_field field class+="course-list-filter" %}
  {% endfor %}
</form>
{% endif %}

<div class="course-list__header">
  <div class="header-section">
    <a href="{% url 'course-list' %}?sort_order=-title" class="header-section__title title-link">Kursnamn</a>
    <a href="{% url 'course-list' %}?sort_order=ects" class="header-section__ects ects-link">Poäng</a>
    <a href="{% url 'course-list' %}?sort_order=level" class="header-section__level level-link">Nivå</a>
    <span class="header-section__category">Kategorier</span>
  </div>
  <div class="header-section">
    <a href="{% url 'course-list' %}?sort_order=ects" class="ects-column ects-link">Poäng</a>
    <a href="{% url 'course-list' %}?sort_order=level" class="level-column level-link">Nivå</a>
    <span class="categories-column">Kategorier</span>
  </div>
</div>

<ul class="courses">
  {% for course in filter.qs %}
  <li>
    <div>
      <div>
        <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
        <span class="ects-row">{{ course.ects }} hp</span>
      </div>
      <ul class="courses__extra">
        <li class="level-row">
          <span class=
                {% if course.level.title == "Grundläggande" %}
                "badge badge-success"
                {% else %}
                "badge badge-warning"
                {% endif %}
              data-toggle="tooltip"
              title="{{ course.level.title }}">
            {{ course.level.first_letter }}
          </span>
        </li>
        {% for category in course.categories.all %}
        <li class="category-row">
          <a href="{{ category.get_absolute_url }}">
            <span class="badge badge-secondary" data-toggle="tooltip" title="{{ category.title }}">
              {{ category.abbreviation }}
            </span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="courses__columns">
      <span class="ects-column">{{ course.ects }}</span>
      <div class="level-column">
        <span class=
              {% if course.level.title == "Grundläggande" %}
              'badge badge-success'
              {% else %}
              'badge badge-warning'
              {% endif %}
            data-toggle='tooltip'
            title='{{ course.level.title }}'>
          {{ course.level.first_letter }}
        </span>
      </div>
      <ul class="courses__extra categories-column">
        {% for category in course.categories.all %}
        <li>
          <a href="{{ category.get_absolute_url }}">
            <span class="badge badge-secondary" data-toggle='tooltip' title='{{ category.title }}'>
              {{ category.abbreviation }}
            </span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}

{% block extra_scripts %}

<script type="text/javascript">

  $(function() {
    $("form :input").change(function() {
      $("form:first").submit();
    });
    $(".course-list-filter").select2({ width: 'style' });
  });

</script>

<script src="{% static 'rodatraden/course_list.js' %}"
        defer
></script>

{% endblock %}
