{% extends 'rodatraden/rt_table/table.html' %}

{% load static %}
{% load widget_tweaks %}


{% block title %}
  Kurser
{% endblock %}


{% block menu %}
{% if user.is_staff %}
<a class="btn btn-gone add-item"
  data-id="{% url 'course-create' %}"
  data-bs-toggle="tooltip" title="Skapa nytt">
  <span class="fa fa-plus"></span>
</a> 
{% endif %}
{% endblock %}


{% block page_title %}Kurser{% endblock %}


{% block rt_table_class_name %}course-list{% endblock %}


{% block rt_table_filter %}

{% if filter %}
<form action="" method="get" class="form form-inline rt-table-filters">
  {% for field in filter.form %}
  {% render_field field class+="course-list-filter" %}
  {% endfor %}
</form>
{% endif %}
{% endblock %}


{% block rt_table_badge_list %}

<li class="rt-table__item--list-mode
           rt-table__item--list-mode--level">
  <span class=
        {% if course.level.title == "Grundläggande" %}
        "badge bg-success"
        {% else %}
        "badge bg-warning text-dark"
        {% endif %}
      data-bs-toggle="tooltip"
      title="{{ course.level.title }}">
    {{ course.level.first_letter }}
  </span>
</li>
{% for category in course.categories.all %}
<li class="rt-table__item--list-mode
           rt-table__item--list-mode--categories">
  <a href="{{ category.get_absolute_url }}">
    <span class="badge bg-secondary" data-bs-toggle="tooltip" title="{{ category.title }}">
      {{ category.abbreviation }}
    </span>
  </a>
</li>
{% endfor %}

{% endblock %}


{% block rt_table_row_columns %}

<span class="rt-table__item--table-mode
             rt-table__item--table-mode--ects">{{ course.ects }}</span>
<div class="rt-table__item--table-mode
            rt-table__item--table-mode--level">
  <span class=
        {% if course.level.title == "Grundläggande" %}
        'badge bg-success'
        {% else %}
        'badge bg-warning text-dark'
        {% endif %}
      data-bs-toggle='tooltip'
      title='{{ course.level.title }}'>
    {{ course.level.first_letter }}
  </span>
</div>
<ul class="rt-table__item--table-mode
           rt-table__item--table-mode--categories
           rt-table__badge-list">
  {% for category in course.categories.all %}
  <li>
    <a href="{{ category.get_absolute_url }}">
      <span class="badge bg-secondary" data-bs-toggle='tooltip' title='{{ category.title }}'>
        {{ category.abbreviation }}
      </span>
    </a>
  </li>
  {% endfor %}
</ul>

{% endblock %}


{% block rt_table_pagination %}
{% comment %}
The parent template expects a list of items named "courses". For that reason the
page is named "courses" in the context. For readability this is aliased back to
"page" here, using the "with" tag, so that the pagination code is clearer.
{% endcomment %}
{% with page=courses %}

<nav role="navigation" aria-label="Pagination Navigation">
  <ul class="pagination">
    {% if page.has_previous %}
    <li class="page-item page-item--previous">
      <a href="{{ unfinished_page_path }}{{ page.previous_page_number }}"
         class="page-link"
         aria-label="Previous page"
      >
        &lt <span class="page-hidden-medium">Föregående</span>
      </a>
    </li>
    {% endif %}
    
    {% for page_number in page_numbers %}
    {% if page_number == ellipsis %}
    <li class="page-item" aria-hidden="true">
      <span class="page-ellipsis">{{ page_number }}</span>
    </li>
    {% elif page_number == page.number %}
    <li class="page-item active">
      <a href="{{ unfinished_page_path }}{{ page_number }}"
         class="page-link"
         aria-label="Current page, page {{ page_number }}"
         aria-current="true"
      >
        {{ page_number }} 
      </a>
    </li>
    {% else %}
    <li class="page-item">
      <a href="{{ unfinished_page_path }}{{ page_number }}"
         class="page-link"
         aria-label="Page {{ page_number }}"
      >
        {{ page_number }} 
      </a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page.has_next %}
    <li class="page-item page-item--next">
      <a href="{{ unfinished_page_path }}{{ page.next_page_number }}"
         class="page-link"
         aria-label="Next page"
      >
        <span class="page-hidden-medium">Nästa</span> &gt
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

{% endwith %}
{% endblock %}


{% block extra_scripts %}

<script type="text/javascript">

  $(function() {
    // Only listen to changes on the filter form, and submit that specific form
    $(".rt-table-filters :input").change(function() {
      $(".rt-table-filters").submit();
    });
    $(".course-list-filter").select2({ width: 'style' });
  });

</script>

<script src="{% static 'rodatraden/course_list.js' %}"
        type='module'
></script>

{% endblock %}
