{% extends 'rodatraden/index.html' %}

{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block title %}
Egna kurstillfällen
{% endblock %}

{% block menu %}
<a class="btn btn-gone add-privatecourse"
  data-id="{% url 'privatecourse-create' user.username %}"
  data-toggle="tooltip" title="Skapa nytt">
  <span class="fa fa-plus"></span>
</a> 
{% endblock %}

{% block page_title %}Egna kurstillfällen{% endblock %}

{% block content %}

<div class="rt-table
            rt-table--private-course-list">
  <div class="rt-table-header-container">
    <div class="rt-table-header
                rt-table-header--list-mode">
      <a href=""
          class="rt-table-header--title
                 title-link">
        Kursnamn <span class="fa fa-caret-up"></span>
      </a>
      <a href=""
          class="rt-table-header__item
                 rt-table-header__item--ects
                 ects-link">
        Poäng <span class="fa"></span>
      </a>
      <a href=""
          class="rt-table-header__item
                 rt-table-header__item--year
                 year-link">
        Läsår <span class="fa"></span>
      </a>
      <a href=""
          class="rt-table-header__item
                 rt-table-header__item--start
                 start-link">
        Start <span class="fa"></span>
      </a>
      <a href=""
          class="rt-table-header__item
                 rt-table-header__item--weeks
                 weeks-link">
        Veckor <span class="fa"></span>
      </a>
    </div>
    <div class="rt-table-header
                rt-table-header--table-mode">
      <a href=""
          class="rt-table__item--table-mode
                 rt-table__item--table-mode--ects
                 ects-link">
        Poäng <span class="fa"></span>
      </a>
      <a href=""
          class="rt-table__item--table-mode
                 rt-table__item--table-mode--year
                 year-link">
        Läsår <span class="fa"></span>
      </a>
      <a href=""
          class="rt-table__item--table-mode
                 rt-table__item--table-mode--start
                 start-link">
        Start <span class="fa"></span>
      </a>
      <a href=""
          class="rt-table__item--table-mode
                 rt-table__item--table-mode--weeks
                 weeks-link">
        Veckor <span class="fa"></span>
      </a>
    </div>
  </div>

  <ul class="rt-table-body">
    {% for course in privatecourse_list %}
    <li class="rt-table-row">
      <div>
        <div>
          <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
          <span class="rt-table__item--list-mode
                       rt-table__item--list-mode--ects">
            {{ course.ects }} hp
          </span>
        </div>
        <ul class="rt-table__badge-list">
          <li class="rt-table__item--list-mode
                     rt-table__item--list-mode--year">
            <span class="badge badge-secondary"
                data-toggle="tooltip"
                title="Läsår">
              {{ course.year_string }}
            </span>
          </li>
          <li class="rt-table__item--list-mode
                     rt-table__item--list-mode--start">
            <span class="badge badge-secondary"
                data-toggle="tooltip"
                title="Start">
              {{ course.start_string }}
            </span>
          </li>
          <li class="rt-table__item--list-mode
                     rt-table__item--list-mode--weeks">
            <span class="badge badge-secondary"
                data-toggle="tooltip"
                title="Längd">
              {{ course.weeks_string }}
            </span>
          </li>
        </ul>
      </div>
      <div class="rt-table-row__columns">
        <span class="rt-table__item--table-mode
                     rt-table__item--table-mode--ects">
          {{ course.ects }}
        </span>
        <span class="rt-table__item--table-mode
                     rt-table__item--table-mode--year">
          {{ course.year_string }}
        </span>
        <span class="rt-table__item--table-mode
                     rt-table__item--table-mode--start">
          {{ course.start_string }}
        </span>
        <span class="rt-table__item--table-mode
                     rt-table__item--table-mode--weeks">
          {{ course.weeks }}
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
  $(function () {
    /* Open modal for creation form */
    $(".add-privatecourse").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });
    $(".update-privatecourse").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });
    $(".delete-privatecourse").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });
  });
</script>
{% endblock %}
