{% extends 'rodatraden/index.html' %}

{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block title %}
Egna kurser
{% endblock %}

{% block menu %}
<a class="btn btn-gone add-privatecourse"
  data-id="{% url 'privatecourse-create' user.username %}"
  data-toggle="tooltip" title="Skapa nytt">
  <span class="fa fa-plus"></span>
</a> 
{% endblock %}

{% block page_title %}Egna kurser{% endblock %}

{% block content %}

{% render_table table %}

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
  $(function () {
    /* Open modal for creation form */
    $(".add-privatecourse").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });
    $(".update-privatecourse").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });
    $(".delete-privatecourse").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });
  });
</script>
{% endblock %}
