{% extends 'rodatraden/privatecourse/privatecourse_list.html' %}

{% block title %}{{ privatecourse.title }}{% endblock %}

{% block menu %}
<a class="btn btn-gone" 
  href="{% url 'privatecourse-list' privatecourse.user.username %}"
  data-toggle="tooltip" title="Egna kurser">
  <span class="fa fa-list"></span>
</a>
<a class="btn btn-gone update-privatecourse" 
  data-id="{% url 'privatecourse-update' privatecourse.user.username privatecourse.slug %}"
  data-toggle="tooltip" title="Ändra">
  <span class="fa fa-edit"></span>
</a>
<a class="btn btn-gone delete-privatecourse"
  data-id="{% url 'privatecourse-delete' privatecourse.user.username privatecourse.slug %}"
  data-toggle="tooltip" title="Radera">
  <span class="fa fa-trash"></span>
</a> 
{% endblock %}

{% block page_title %}{{ privatecourse.title }}{% endblock %}

{% block content %}

<div class="row px-3">
  <div class="col-lg-6 p-3 course-main">
    {% if privatecourse.note %}
    {{ privatecourse.note | safe }}
    {% else %}
    Ingen anteckning.
    {% endif %}
  </div>
  <div class="col-lg-6 text-center">
    <div class="card">
      <h5 class="card-header">Kategorier</h5>
      <div class="card-body">
        <table class="table", style="border-collapse: separate;border-spacing:1rem 0;">
        {% for category in privatecourse.privatecoursecategory_set.all %}
        <tr>
          <td>
          <a href="{% url 'category-detail' category.id %}"
          style="font-weight:bold;">{{ category.category.title }}</a>
          </td>
          <td>{{ category.ects }}</td>
        </tr>
        {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
  $(function () {
    $(".update-privatecourse").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });
    $(".delete-privatecourse").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });
  });
</script>
{% endblock %}
