{% extends 'rodatraden/index.html' %}

{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}

{% block title %}
  Kategorier
{% endblock %}

{% block menu %}
{% if user.is_staff %}
<a class="btn btn-gone add-item"
  data-id="{% url 'category-create' %}"
  data-bs-toggle="tooltip" title="Skapa nytt">
  <span class="fa fa-plus"></span>
</a> 
{% endif %}
{% endblock %}

{% block page_title %}Kategorier{% endblock %}

{% block content %}

  <p class="lead">Under din tid på programmet ska du ha läst kurser inom ett
  antal olika områden som översiktligt beskrivs nedan.<br>Du ska ha läst minst
  the angivna poängantalet för att kunna ta ut din examen.</p>

  {% for category in categories_sorted %}
  <hr>
  <div class="row">
    <div class="col-md-2 text-center">
      <img 
      {% if category.image %}
         src="{{ category.image.url }}" 
      {% else %} 
         src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='150'%3E%3Crect width='150' height='150' fill='%23D6001E'/%3E%3Ctext x='75' y='75' font-family='sans-serif' font-size='40' fill='white' text-anchor='middle' dominant-baseline='middle'%3E{{ category.abbreviation }}%3C/text%3E%3C/svg%3E" 
      {% endif %}
         alt="{{ category.title }}" class="rounded mx-auto d-block img-fluid">
      </img>
    </div>
    <div class="col-ld-1"></div>
    <div class="col-md-9">
      <h4><a href="{% url 'category-detail' category.slug %}">
          {{ category.title }}
      </a></h4>
      {% if category.description %}
      {{ category.description|safe|truncatewords:"50"|linebreaks }}
      {% else %}
      <p>Denna kategori saknar en beskrivning.<p>
      {% endif %}

      <a href="{% url 'category-detail' category.slug %}">
        <span class="badge badge-rt">
        Läs mer
        </span>
      </a>
    </div>
  </div>
  {% endfor %}

{% endblock %}

