{% extends 'rodatraden/category/category_list.html' %}

{% block title %}{{ category.title }}{% endblock %}

{% block menu %}
<a class="btn btn-gone" 
  href="{% url 'category-list' %}"
  data-toggle="tooltip" title="Profiler">
  <span class="fa fa-list"></span>
</a>
{% if user.is_staff %}
<a class="btn btn-gone update-item" 
  data-id="{% url 'category-update' category.slug %}"
  data-toggle="tooltip" title="Ändra">
  <span class="fa fa-edit"></span>
</a>
<a class="btn btn-gone delete-item"
  data-id="{% url 'category-delete' category.slug %}"
  data-toggle="tooltip" title="Radera">
  <span class="fa fa-trash"></span>
</a> 
{% endif %}
{% endblock %}

{% block page_title %}{{ category.title }}{% endblock %}

{% block content %}

<div class="row px-3">
  <div class="col-lg-7 p-3 course-main">
    {% if category.description %}
    {{ category.description | safe }}
    {% else %}
    <p class="lead">Denna kategori saknar en beskrivning.<p>
    {% endif %}
  </div>
  <div class="col-lg-5">
    <div class="card">
      <h5 class="card-header">Kurser</h5>
      <div class="card-body">
        <p class="card-text">
          <ul class="list-group list-group-flush m-0">
          <table class="table", style="border-collapse: separate;border-spacing:1rem 0;">
          {% for course in courses %}
            <tr>
              <td>
              <a href="{% url 'course-detail' course.course.slug %}"
              style="font-weight:bold;">{{ course.course.title }}</a>
              </td>
              <td class="d-none d-lg-block">{{ course.ects }}</td>
            </tr>
          {% endfor %}
          </table>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
