{% extends 'rodatraden/index.html' %}

{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block title %}
  Kurstillfällen
{% endblock %}

{% block menu %}
{% endblock %}

{% block page_title %}Kurstillfällen{% endblock %}

{% block content %}

<div class="row course-etc p-3 pt-4 mb-2">
  <div class="col-lg">
    {% if filter %}
      <form action="" method="get" class="form form-inline courseoccasion-filter-form">
        {% render_field filter.form.title class+="course-list-filter" %}
        {% render_field filter.form.year class+="course-list-filter-small" %}
        {% render_field filter.form.time_period class+="course-list-filter" %}
        {% render_field filter.form.categories class+="course-list-filter" %}
        {% render_field filter.form.department class+="course-list-filter" %}
        {% render_field filter.form.official class+="course-list-filter-small" %}
      </form>
    {% endif %}
  </div>
</div>

{% render_table table %}

{% endblock %}

{% block extra_scripts %}

  <script type="text/javascript">
    $(".course-list-filter").select2({ width: '20%' });
    $(".course-list-filter-small").select2({ width: '10%' });
    $(document).ready(function() {
      // Only listen to changes on the filter form, and submit that specific form
      $(".courseoccasion-filter-form :input").change(function() {
        $(".courseoccasion-filter-form").submit();
      });
    });
  </script>

{% endblock %}
