{% load widget_tweaks %}

{% load prerequisite_sorter %}

<div class="modal-header">
  <h3 class="modal-title"><a target="_blank" href="{% url 'course-detail' course.slug %}">{{ course.title }}</a></h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  {% if unmet_prerequisites %}
  <div class="row">
    <div class="col">
      <div class="card alert-danger mb-3">
        <h5 class="card-header">Du uppfyller inte förkunskapskraven. Följande kurser saknas:</h5>
        <div class="card-body">
          {% include 'rodatraden/prerequisite_list.html' with prerequisites=unmet_prerequisites %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <h5 class="card-header">Kursinfo</h5>
        <div class="card-body">
          <p class="lead">
            <a target="_blank" href="">{{ course.department }}</a>
          </p>
          <table style="border-collapse: separate;border-spacing:1rem 0;">
            <tr>
              <td>Poäng</td>
              <td>{{ course.ects }}</td>
            </tr>
            <tr>
              <td>Nivå</td>
              <td>{{ course.level }}</td>
            </tr>
            <tr>
              <td>Kod</td>
              <td>{{ course.code }}</td>
            </tr>
          </table>

          <hr>
          <p class="lead">
            Kategorier
          </p>

          <table style="border-collapse: separate;border-spacing:1rem 0;">
            {% for category in course.categorycourse_set.all %}
              <tr>
                <td>
                  <a target="_blank" href="{% url 'category-detail' category.category.slug %}">{{ category.category.title }}</a>
                </td>
                <td>{{ category.ects }}</td>
              </tr>
            {% endfor %}
          </table>

          <hr>
          <p class="lead">
            Spår
          </p>

          <ul class="list-group list-group-flush">

            {% for track in course.tracks.all %}
            <li class="list-group list-group-flush">
              <a target="_blank" href="#">{{ track.title }}</a>
            </li>
            {% endfor %}

          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <h5 class="card-header">Kurstillfälle</h5>
        <div class="card-body">
          <p class="lead"><a target="_blank" href="{% url 'course-detail' course.slug %}">
            {{ course.title }}, {{courseoccasion.year }}
          </a></p>

          <table style="border-collapse: separate;border-spacing:1rem 0;">
            <tr>
              <td>Läsperiod</td>
              <td>{{ courseoccasion.time_period.title }}</td>
            </tr>
            <tr>
              <td>Veckor</td>
              <td>{{ courseoccasion.weeks }}</td>
            </tr>
            <tr>
              <td>Studietakt</td>
              <td>{{ courseoccasion.pace }} %</td>
            </tr>
            {% if courseoccasion.contact_name %}
            <tr>
              <td>Kontaktperson</td>
              <td><a target="_blank" href="mailto:{{ courseoccasion.contact_email }}">{{ courseoccasion.contact_name }}</a></td>
            </tr>
            {% endif %}
          </table>

          <hr>

          {% if courseoccasion.official %}
          <span class="badge badge-success">Godkänd</span>
          {% else %}

          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
</div>
