{% load l10n %}
{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Kurstillfällen denna period</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class='course-table'>
    <div class='course-table__header'>
        <span class='course-row__text'>Kursnamn</span>
        <span class='course-row__right-aligned'>Veckor</span>
        <span class='course-row__right-aligned'>Takt</span>
    </div>
    
    <ul class='course-table__body'>
      {% for courseoccasion in courseoccasions %}
      <li class='course-table__row course-row'>
        <div class='course-row__main'>
          <span class='course-row__text'>
            <a href="{% url 'block-add-course' username b_slug %}?slug={{ courseoccasion.slug}}"
               aria-label="Lägg till {{ courseoccasion.course.title }} {{ courseoccasion.course.ects }} högskolepoäng"
               title="Lägg till">
              {{ courseoccasion.course.title }}
            </a>
            <span class='course-row__ects' aria-hidden="true">{{ courseoccasion.course.ects }} hp</span>
          </span>
          <span class='course-row__right-aligned'>{{ courseoccasion.weeks }}</span>
          <span class='course-row__right-aligned'>{{ courseoccasion.pace }}%</span>
          <a class="course-row__right-aligned"
             href="{% url 'courseoccasion-detail' courseoccasion.academic_year.year courseoccasion.slug %}"
             aria-label="Läs mer om {{ courseoccasion.course.title }} {{ courseoccasion.course.ects }} högskolepoäng">
            Läs mer
          </a>
        </div>
        <ul class='course-row__extra'>
          {% if courseoccasion.start_weeks_into_period %}
          <li class='course-row__extra__item'>
            Startar {{ courseoccasion.start_weeks_into_period }} 
            {% if courseoccasion.start_weeks_into_period == 1 %}
            vecka
            {% else %}
            veckor
            {% endif %}
            in
          </li>
          {% endif %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>

  <hr class='modal-divider'>
  <h2>Egna kurser</h2>

  <div class='course-table'>
    <div class='course-table__header'>
        <span class='course-row__text'>Kursnamn</span>
        <span class='course-row__right-aligned'>Veckor</span>
        <span class='course-row__right-aligned'>Takt</span>
    </div>
    
    <ul class='course-table__body'>
      {% for privatecourse in privatecourses %}
      <li class='course-table__row course-row'>
        <div class='course-row__main'>
          <span class='course-row__text'>
            <a href="{% url 'block-add-course' username b_slug %}?slug={{ privatecourse.slug}}&private=1"
               aria-label="Lägg till {{ privatecourse.title }} {{ privatecourse.ects }} högskolepoäng"
               title="Lägg till">
              {{ privatecourse.title }}
            </a>
            <span class='course-row__ects'>{{ privatecourse.ects }} hp</span>
          </span>
          <span class='course-row__right-aligned'>{{ privatecourse.weeks }}</span>
          <span class='course-row__right-aligned'>{{ privatecourse.pace }}%</span>
          <a class="course-row__right-aligned"
             href="{% url 'privatecourse-detail' privatecourse.user.username privatecourse.slug %}"
             aria-label="Läs mer om {{ courseoccasion.course.title }} {{ courseoccasion.course.ects }} högskolepoäng">
            Läs mer
          </a>
        </div>
        <ul class='course-row__extra'>
          {% if privatecourse.start_weeks_into_period %}
          <li class='course-row__extra__item'>
            Startar {{ privatecourse.start_weeks_into_period }} 
            {% if privatecourse.start_weeks_into_period == 1 %}
            vecka
            {% else %}
            veckor
            {% endif %}
            in
          </li>
          {% endif %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
</div>
