{% extends 'rodatraden/block/block_list.html' %}

<!-- For localization -->
{% load l10n %}
{% load static %}

{% block title %}{{ this_block.title }}{% endblock %}

{% block menu %}
{% if logged_in %}
<a class="btn btn-gone"
  href="{% url 'block-list' this_block.user %}"
  data-toggle="tooltip" title="Blockscheman">
  <span class="fa fa-list"></span>
</a>
<a class="btn btn-gone update-block"
  data-id="{% url 'block-update' this_block.user this_block.slug %}"
  data-toggle="tooltip" title="Ändra">
  <span class="fa fa-edit"></span>
</a>
<a class="btn btn-gone delete-block"
  data-id="{% url 'block-delete' this_block.user this_block.slug %}"
  data-toggle="tooltip" title="Radera">
  <span class="fa fa-trash"></span>
</a>
{% endif %}
{% endblock %}

{% block page_title %}{{ this_block.title }}{% endblock %}

{% block content %}

<h5 class="pb-3">Examen: {{ this_block.exam.title }}</h5>

{% if this_block.description %}
{{ this_block.description | safe }}
{% else %}
<p class="lead">Detta blockschema saknar en beskrivning.</p>
{% endif %}

<hr>

<input class="btn btn-rt show-block" type="button" value="Blockschema" />
<input class="btn btn-rt show-chart" type="button" value="Kategorier" />
<input class="btn btn-rt show-ISP" type="button" value="Generera ISP" />

<hr>


<div class="text-center"><p class="lead">Total hp: {{ total_ects }}</p></div>

<div id="block-schedule">
  <div id="academic-year-container"></div>
  <div id="block-addyear" class="academic-year bg-dark text-center">
    Lägg till ett år
  </div>
</div>

<div id="chart" style="min-width: 310px; height: 400px; margin: 0 auto" ></div>

<div id="ISP" class="container" style="min-width: 310px; height: 400px; margin: 0 auto" >

  <h5>Ladda upp din ISP för att få den ifylld</h5>

  <p>Om du inte laddar upp en egen ISP så kommer en default-isp användas, så det
  räcker med att trycka "Ladda ner" om du inte har något speciellt skäl att ladda
  upp en fil.</p>
  <p>En lämplig guide för hur du laddar upp din ISP finns <a target="_blank"
    href="http://www.tp.umu.se/tekniskfysik/Instruktionsvideo_R%C3%B6daTr%C3%A5den_v1.mp4">här</a></p>


  <div class="row pt-4">
    <div class="col-6">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <input id="download"
                   class="btn btn-outline-secondary"
                   type="submit"
                   value="Ladda ner"
                   for="download">
            </input>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="excel_file" id="inputExcelFile">
            <label class="custom-file-label" for="inputExcelFile">
              Välj fil eller ladda ner
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row p-3">
    <h5>OBS!</h5>
    <h10 word-wrap: break-word; width: 50%;>
    Denna funktion är endast kompatibel med den senaste
    versionen av den individuella studieplanen i .xlsm-format.
    Kurser i ditt blockschema som inte återfinns i den individuella
    studieplanen kommer att läggas in under fliken "Ej inlagda kurser".
    Dessa kurser måste sedan läggas in manuellt på rätt plats.
    Kontrollera att allt stämmer i den nedladdade filen.</h10>
  </div>
</div>

{% endblock %}

{% block extra_scripts %}

  <!-- highcharts -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <!-- Helper scripts for rendering blocks -->
  <script src="{% static 'rodatraden/rodatraden_blocks.js' %}"></script>

  {{ categories_title|json_script:"categories-title-data" }}
  {{ categories_ects|json_script:"categories-ects-data" }}
  {{ categories_sum|json_script:"categories-sum-data" }}
  {{ course_occasions|json_script:"course-occasions-data" }}
  {{ private_courses|json_script:"private-courses-data" }}

  <script src="{% static 'rodatraden/rodatraden_blocks_interface.js' %}"
          defer
          data-courseoccasion-info-url="{% url 'courseoccasion-info' %}"
          data-block-course-list-url="{% url 'block-course-list' this_block.user this_block.slug %}"
          data-block-remove-course-url="{% url 'block-remove-course' this_block.user this_block.slug %}"
          data-is-logged-in="{{ logged_in }}"
  ></script>

{% endblock %}
