{% load l10n %}
{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Importera blockschema</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class='rt-modal-table'>
    <div class='rt-modal-table__header
                rt-modal-table__header--block-schedule-list'>
        <span>Blockschema</span>
        <span>Ägare</span>
    </div>
    
    <ul class='rt-modal-table__body'>
      {% for block in block_list %}
      <li class='rt-modal-table__row
                 rt-modal-table__row--block-schedule-list'>
        <a href="importera?username={{ block.user.username }}&slug={{ block.slug }}"
            aria-label="Importera kurser från {{ block.title }}"
            title="Lägg till">
          {{ block.title }}
        </a>
        <span>{{ block.user.username }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
</div>
