{% load l10n %}
{% load widget_tweaks %}

<div class="modal-header">
  <h3 class="modal-title">Kurstillfällen denna period</h3>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <div class='course-table'>
    <div class='course-table__header'>
        <span class='course-row__text'>Kursnamn</span>
        <span class='course-row__number'>Veckor</span>
        <span class='course-row__number'>Takt</span>
    </div>
    
    <ul class='course-table__body'>
      {% for courseoccasion in courseoccasions %}
      <li class='course-table__row course-row'>
        <div class='course-row__main'>
          <span class='course-row__text'>
            <a class='course-row__link' href="{% url 'courseoccasion-detail' courseoccasion.academic_year.year courseoccasion.slug %}">
              {{ courseoccasion.course.title }}
            </a>
            <span>{{ courseoccasion.course.ects }} hp</span>
          </span>
          <span class='course-row__number'>{{ courseoccasion.weeks }}</span>
          <span class='course-row__number'>{{ courseoccasion.get_tempo }}%</span>
          <a class="course-row__icon" href="{% url 'block-add-course' username b_slug %}?slug={{ courseoccasion.slug}}">
            <i class='fa fa-plus'></i>
          </a>
        </div>
          
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <h2>Egna kurser</h2>
  <hr>
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Kursnamn</th>
        <th>Veckor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for privatecourse in privatecourses %}
      <tr>
        <td><a href="{% url 'privatecourse-detail' privatecourse.user.username privatecourse.slug %}">{{ privatecourse.title }}</a></td>
        <td>{{ privatecourse.weeks }}</td>
        <td>
          <a href="{% url 'block-add-course' username b_slug %}?slug={{ privatecourse.slug}}&private=1">
            <span class="fa fa-plus"></span>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
</div>
