{% extends 'rodatraden/index.html' %}
{% load crispy_forms_tags %}

{% block title %}Ändra lösenord{% endblock %}

{% block page_title %}Ändra lösenord{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="submit-btn btn btn-light" type="submit">Byt lösenord</button>
  </form>

  <hr>

  <p>
    <a href="{% url 'user-update' user.username user.pk %}">
      &larr; Tillbaka till Uppdatera användare
    </a>
  </p>

{% endblock %}
