{% extends 'rodatraden/index.html' %}
{% load crispy_forms_tags %}

{% block title %}Uppdatera användare{% endblock %}

{% block page_title %}Uppdatera användare{% endblock %}

{% block content %}

  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="submit-btn btn btn-rt" type="submit">Uppdatera</button>
  </form>

  <hr>

  <h3>Ändra lösenord</h3>
  <p>
    <a class="btn btn-rt default"
       href="{% url 'user-change-password' user.username user.pk %}">
      Byt lösenord
    </a>
  </p>

{% endblock %}
